<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<DS_InstallCommand_Title>Build {0}</DS_InstallCommand_Title>
	<DS_InstallCommand_Desc>Build new object</DS_InstallCommand_Desc>

  <Supernova_label>Supernova explosion</Supernova_label>
  <SupernovaExp_low>Several hundred thousand light-years, a supernova explosion occurred. It will not cause any harm and will be visible from all over the planet, which will allow you to watch a beautiful sight</SupernovaExp_low>
  <SupernovaExp_medium>Several tens of thousands of light years away, a supernova explosion occurred. Expect a small meteor shower and an increase in temperature.</SupernovaExp_medium>
  <SupernovaExp_high>Several thousand light years away, a supernova explosion occurred. Expect heavy meteor showers, a very strong temperature increase and long days.</SupernovaExp_high>
  <SupernovaExp_ultra>Several hundred light-years, a supernova explosion occurred. Expect heavy meteor showers, long days, a very strong temperature increase. Also, an explosion is likely to destroy part of the atmosphere.</SupernovaExp_ultra>

  <HiveCreaturesCount>Individuals: </HiveCreaturesCount>
  <HiveLevel>Level: </HiveLevel>
  
  <ShipCargo_Food_ExpandLabel>Part of the ship</ShipCargo_Food_ExpandLabel>
  <ShipCargo_Food_Description>Part of the cargo hold</ShipCargo_Food_Description>
  <ShipSite_LeaveCommandLabel>Leave</ShipSite_LeaveCommandLabel>
  <ShipSite_LeaveCommandDesc>Form the caravan and leave</ShipSite_LeaveCommandDesc>
  <CaravanEnteredShipCrash>Caravan arrived to</CaravanEnteredShipCrash>
  
  <ShipCargo_Mining_ExpandLabel>Part of the ship</ShipCargo_Mining_ExpandLabel>
  <ShipCargo_Mining_Description>Part of the cargo hold</ShipCargo_Mining_Description>

  <ShipPartTimeout>\nProbably the wreckage will be looted in (days):</ShipPartTimeout>
  
  <ShipCargo_Complex_ExpandLabel>Part of the ship</ShipCargo_Complex_ExpandLabel>
  <ShipCargo_Complex_Description>Part of the manufacturing section</ShipCargo_Complex_Description>
  
  <EnemyOnTheMap>There are still enemies on the map. You can not form a caravan now.</EnemyOnTheMap>
  
  <Ship_Living_ExpandLabel>Part of the ship</Ship_Living_ExpandLabel>
  <Ship_Living_Description>Part of the crew quarters</Ship_Living_Description>
  
  <Ship_Armory_ExpandLabel>Part of the ship</Ship_Armory_ExpandLabel>
  <Ship_Armory_Description>Part of the ship's armory</Ship_Armory_Description>
  
  <FireSpreadIs>The fire will intensify in (days): </FireSpreadIs>
  <CaravanEnteredMassiveFire>Caravan arrived to</CaravanEnteredMassiveFire>
  
  <DetonationIn>Automatic detonation after (days):</DetonationIn>
  <DisarmingProgress>Disarming progress: </DisarmingProgress>
  <DisarmAction>Start the disarming process</DisarmAction>
  <SuccessDisarming>Bomb cleared</SuccessDisarming>
  <SuccessDisarmingDesc>The climate bomb was cleared successfully. In the dismantling process, an element was found that seems to be the main source of energy.
  Your colonists were able to steal it. With it, you me be able to create a new source of energy.</SuccessDisarmingDesc>
  <BombDisarmed>Bomb defused</BombDisarmed>
  <DefusingInfo>Attempt to disarm the bomb.\n\nYour colonists report that trying to defuse the bomb is likely to send an alert signal that will attract a large defense force.\n\nGet ready for battle!</DefusingInfo>
	
  <Earthshake>Earthquake over</Earthshake>
  <EarthshakeDesc>The earthquake is over. Magnitude:</EarthshakeDesc>
  
  <ZeroPointReactorDestablished>Zero Point Reactor Destabilized</ZeroPointReactorDestablished>
  <ZeroPointReactorDestablishedDesc>The zero point reactor has destabilized and is about to fail. The vacuum core is pulling in nearby creatures!</ZeroPointReactorDestablishedDesc>	
  <ZPRNeedMorePumps>\n- Vacuum pumps required: </ZPRNeedMorePumps>
  <ZPRWorking>Active.</ZPRWorking>
  <ZPRNoActiveLabel>Inactive:</ZPRNoActiveLabel>
  <ZPRHasRoofs>\n- Roof required</ZPRHasRoofs>
  <ZPRNeedRoom>\n- Room required</ZPRNeedRoom>
  
  <SiegeCampUpdateTimer>\nDays to upgrade:</SiegeCampUpdateTimer>
  <SiegeCampLevel>Camp difficulty:</SiegeCampLevel>
  <YourAttackWasRepelledTitle>Your attack failed</YourAttackWasRepelledTitle>
  <YourAttackWasRepelledDesc>Your attack on the enemy camp failed. They will likely rebuild their defenses and the surviving colonists are probably dead or to be sold into slavery.</YourAttackWasRepelledDesc>
  
  <AttackIsNotRepelled>You can not leave now. The attack is not yet repelled.</AttackIsNotRepelled>
  <TimerDaysToAttack>Days to attack {0}</TimerDaysToAttack>
  <ThreatLevel>\nThreat level: {0}</ThreatLevel>
  <AttackFriendlySettlementLetter1>A scout from the friendly settlement {0} reports that one of the enemy settlements is preparing an attack on them. They ask you for help. Unfortunately, the level of threat is not known.
(To help the settlement, send a caravan to it and repel the attack)</AttackFriendlySettlementLetter1>
  <AttackFriendlySettlementLetter2>A scout from the friendly settlement {0} reports that one of the enemy settlements is preparing an attack on them. They ask you for help. Threat Level: {1}
(To help the settlement, send a caravan to it and repel the attack)</AttackFriendlySettlementLetter2>
  <AttackedFriendlySettlementDefendHelp>You have arrived. Set up a defense, the settlers here are at your disposal. Remember that you need to save as many lives as possible!
</AttackedFriendlySettlementDefendHelp>
  <AttackedFriendlySettlementDefendVictory>You fended off the attack.\n{0} Thank you. You were able to save {1} settlers, for which you get a reward:\n {2} \n\n You can pick it up when you form a caravan.</AttackedFriendlySettlementDefendVictory>
  <AttackedFriendlySettlementDefendLoseWithHelp>You fought off the attack, but you could not save a single friendly settler.\nYou simply have no one to give a reward, and all that will remain here is a ruin.
</AttackedFriendlySettlementDefendLoseWithHelp>
  <AttackedFriendlySettlementLoseWithoutHelp>You didn’t help settlement {0}, your relationship has lowered.</AttackedFriendlySettlementLoseWithoutHelp>
  <RaidStartDefendTitle>The attack has begun!</RaidStartDefendTitle>
  <RaidStartDefend>Enemies are attacking, get ready!</RaidStartDefend>
  
  <EnergyChargeCapacity>Charge: {0} / {1}</EnergyChargeCapacity>
  <InactiveNoHelmet>\nInactive. Missing helmet.</InactiveNoHelmet>
  <InactiveMk1>Inactive</InactiveMk1>
  <EnergyChargeCapacity2>Capacity</EnergyChargeCapacity2>
  <Station>Station</Station>
  <UnloadArmor>Disable armor from the station</UnloadArmor>
  <LoadArmor>Connect armor to the station</LoadArmor>
  <NoAvaliableArmors>No available armor</NoAvaliableArmors>
  <NotEnoughSpace>Not enough space for armor. Free up more space around the station.</NotEnoughSpace>
  <NoArmorInStation>Station is not active. Missing armor.</NoArmorInStation>
  <CoreType>Core</CoreType>
  <ChargeSpeed>Charging speed: {0}</ChargeSpeed>
  <EnabledCharging>Actively. Charging</EnabledCharging>
  <FullCharge>Reactor charge limit reached</FullCharge>
  <NoPowerRightNow>▬► NO POWER ◄▬</NoPowerRightNow>
  <NoCore>Core missing</NoCore>
  <NoAvaliableCores>No cores available</NoAvaliableCores>
  <ColdFusionCore>Cold fusion</ColdFusionCore>
  <ArcReactorCore>Arc</ArcReactorCore>
  
  <WeaponDeactivated>The Doomsday weapon has been deactivated</WeaponDeactivated>
  <PlanetWillBeDestroyed>The planet will be destroyed in (days): </PlanetWillBeDestroyed>
  <PlayerSilverCount>Silver player: {0}</PlayerSilverCount>
  <FactionGift>Silver from factions: {0}</FactionGift>
  <GiveRansom>Pay a ransom</GiveRansom>
  <NotEnoughSilverDoom>Pay a ransom [Not enough silver]</NotEnoughSilverDoom>
  <PaidSuccessDoom>Ransom paid</PaidSuccessDoom>
  <RansomCompleteTitle>Ransom paid</RansomCompleteTitle>
  <RansomComplete>The enemy commander laughs loudly over the radio. So be it, they will not blow up the planet. The laughter subsides as they quickly pack up and disappear without a trace. Perhaps this is not the end.</RansomComplete>
  <PlanetDestroyed>At once everyone covers their ears in pain. It is as if a million lightning bolts struck in the same place at once - a small artificial star is born just beyond the world's atmosphere. Everyone stumbles as the planet begins to move, plunging into blinding orb of light. As the last remnants of hope shatter, so too does the planet's surface, cracks of the world's molten blood erupt and spread across the surface like crimson rivers.
The apocalyptic machine emits a column of bright light, a leash leading the planet to its grave. The atmosphere ignites in a cleansing flame that provides a quick death, perhaps quicker than is truly deserved. The fragments of this broken world will be an everlasting monument to the folly of man. While most others in the universe will see it as a lesson, some may see it as potential.
</PlanetDestroyed>
  <ArsonOut>The arsonists leave</ArsonOut>
	
  <DoomsdayEnterSiteHelp>You have come to an enemy base. Somewhere hidden doomsday weapon. It must be found, de-energized and destroyed, but first you have to clear the base.</DoomsdayEnterSiteHelp>
  <DeEnergizedStatus>Power level: {0}</DeEnergizedStatus>
  <ShildsOffDommsdayTitle>Energy Shield Disabled</ShildsOffDommsdayTitle>
  <DeactiveEnergyShieldDoom>Turn off energy shield</DeactiveEnergyShieldDoom>
  <ShildsOffDommsday>You were able to turn off the energy barrier protecting the device. Now you need to disable the final security system.</ShildsOffDommsday>
  <SecurityNonActiveDoomsday>\nSecurity Systems: Disabled</SecurityNonActiveDoomsday>
  <SecurityActiveDoomsday>\nSecurity Systems: Enabled</SecurityActiveDoomsday>
  <DisableSecuritySystems>Disable security systems</DisableSecuritySystems>
  <DoomsdayContrAttackTitle>Counterattack</DoomsdayContrAttackTitle>
  <DoomsdayContrAttack>Counterattack incoming!</DoomsdayContrAttack>
  
  <HelpCommand>command information</HelpCommand>
  <ClearCommand>clear console</ClearCommand>
  
  <DoomsdatTerminal_SecurityCommand>Access to security systems</DoomsdatTerminal_SecurityCommand>
  <DoomsdayTerminal_UsersCommand>User management system</DoomsdayTerminal_UsersCommand>
  <DoomsdayTerminal_AddNewUsers>--> Add new user: /users add *username* *password*</DoomsdayTerminal_AddNewUsers>
  <DoomsdayTerminal_RemoveUsers>--> Delete user: /users delete *username* *password*</DoomsdayTerminal_RemoveUsers>
  <DoomsdayTerminal_NoAccess>No access</DoomsdayTerminal_NoAccess>
  <DoomsdayTerminal_WrongArguments>Invalid Arguments</DoomsdayTerminal_WrongArguments>
  <DoomsdayTerminal_WrongPassword>Wrong password</DoomsdayTerminal_WrongPassword>
  <DoomsdayTerminal_LoginCommand>Sign in. Format: /login *username* *password*</DoomsdayTerminal_LoginCommand>
  <DoomsdayTerminal_LogginSuccess>You are logged in as {0}</DoomsdayTerminal_LogginSuccess>
  <DoomsdayTerminal_LogginFail>Failed login attempt. Check username and password.</DoomsdayTerminal_LogginFail>
  <DoomsdayTerminal_ActiveUsers>Active users:</DoomsdayTerminal_ActiveUsers>
  <DoomsdayTerminal_LogoutCommand>Sign out</DoomsdayTerminal_LogoutCommand>
  <DoomsdayTerminal_LoginFirst>Please login first</DoomsdayTerminal_LoginFirst>
  <DoomsdayTerminal_LogoutOk>You have successfully logged out.</DoomsdayTerminal_LogoutOk>
  <DoomsdayTerminal_HackUsers>%^3Embedding instructions... !#%1@5)(26w\nTo use HackTools 1.0, run /users hack</DoomsdayTerminal_HackUsers>
  <DoomsdayTerminal_UsersHack>Activation module HackTools 1.0\nActivation successful.\nSearch for vulnerabilities ... Found an administrative email.
Decryption email ...

From: ExFeral
To: AktunOba

It seems the boss is still going to use the weapon for blackmail.
Hell, he's gonna blow this world up.
Of course I'm not against scoring heap of silver, but I also live here! I tried to persuade him to be rational, but his greed is driving him crazy.
I want to play it safe if in case things get out of hand, but I can't just write out the password here and risk someone else finding this letter.
The password is the answer to this riddle, one I've told you many times, you should have no problems solving it.
"You enter a dark kitchen with no power. There is a candle, a kerosene lamp, and a gas stove. What will you light first?"
One word. Use it to log in as Feral.
</DoomsdayTerminal_UsersHack>
  <DoomsdayTerminal_UsersHackAnser>Match</DoomsdayTerminal_UsersHackAnser>
  <DoomsdayTerminal_AlreadyLogged>You are already logged in. Use /logout.</DoomsdayTerminal_AlreadyLogged>
  <DoomsdayTerminal_SecurityFirst>Enter the security password. /security *password*
*(5$#LKki*6 HackTools 1.0 --> Memory dump /security dump ^I21%$$*1%p0rfgw
  </DoomsdayTerminal_SecurityFirst>
  <DoomsdayTerminal_HackToolsSecurity>
Inject HackTools 1.0
--> Meta OK
--> Memory OK
--> Memory dump...</DoomsdayTerminal_HackToolsSecurity>
	<DoomsdayTerminal_SecurityAccessGranted>Security System Access Granted.
Commands:
--> /security disable
--> /security enable
</DoomsdayTerminal_SecurityAccessGranted>
  <DoomsdayTerminal_SecurityNoPower>Power is off, deactivation of protection systems is not possible.</DoomsdayTerminal_SecurityNoPower>
  <DoomsdayTerminal_SecurityPowerOk>Power on.</DoomsdayTerminal_SecurityPowerOk>
  <DoomsdayTerminal_SecurityPowerInfoPassive>Welcome to the energy management section.
 
-->Energy shield: inactive
-->Power: off

RETROS BIOS-4.02.000 T2EE5/E7.E8
Root (5A8)

RUN IN PASSIVE MODE, TO DISABLE --> /security energy activemode</DoomsdayTerminal_SecurityPowerInfoPassive>
	<DoomsdayTerminal_ActiveModeEnable>Enabling Active Mode ...

ExplasaSystems 5.3 (BG/SS5 FastUse 13.2)
Energy RETROS RBIOS-4.02.000 T2EE5/E7.E8
...
...
Initializing user mode ...
Activating internal systems ...
Systems are active.


RUN IN ACTIVE MODE
</DoomsdayTerminal_ActiveModeEnable>
  
  <DoomsdayTerminal_SecurityPowerInfoActive>Welcome to the energy management section.
 
-->Energy shield: inactive
-->Power: off

RETROS RBIOS-4.02.000 T2EE5/E7.E8
Root (5A8)

RUN IN ACTIVE MODE
COMMANDS:
--> /security energy shields
--> /security energy on</DoomsdayTerminal_SecurityPowerInfoActive>
	<DoomsdayTerminal_ActiveModeReq>Not available in passive mode.</DoomsdayTerminal_ActiveModeReq>
	<DoomsdayTerminal_ShieldsOff>Energy shield system control disabled.</DoomsdayTerminal_ShieldsOff>
	<DoomsdayTerminal_PowerActivating>Switching magnetic resistors --> OK
Redirecting energy to the control shaft --> OK</DoomsdayTerminal_PowerActivating>
	<DoomsdayTerminal_SecurityDisabled>Disable Security Systems --> OK</DoomsdayTerminal_SecurityDisabled>
	<SecurityDoomsdayOffTitle>Security Systems disabled</SecurityDoomsdayOffTitle>
	<SecurityDoomsdayOff>You were able to disable the security systems of doomsday weapon. Now you can safely destroy it.</SecurityDoomsdayOff>
	
	<GameCondition_SpaceBattleTitle>A space battle is occuring in low orbit, watch out for debris.</GameCondition_SpaceBattleTitle>
	
	<Building_TribalCrack_OptionInactive>Impossible to destroy, the selected colonist has no grenades.</Building_TribalCrack_OptionInactive>
	<Building_TribalCrack_Option>Go down the tunnel and blow it up</Building_TribalCrack_Option>

	<TribalCrack_InfoTitle>Mission started</TribalCrack_InfoTitle>
	<TribalCrack_InfoDesc>The settler {0} went into the tunnel. Planting a bomb and exploding will take about {1} days. At this time, the settler will be unavailable.</TribalCrack_InfoDesc>

	<Building_TribalCrack_Title>Тribal tunnelers</Building_TribalCrack_Title>
	<Building_TribalCrack_Desc>{0} destroyed the tunnel connecting you with the Tribal settlement.</Building_TribalCrack_Desc>
	
	<Building_TribalCrack_DoDestroyAction>Fill up the hole with your hands</Building_TribalCrack_DoDestroyAction>
	<Building_TribalCrack_Info>Buried: {0}</Building_TribalCrack_Info>
	
	<GameCondition_HighMutantPopulation_AttackTitle>Mutant Attack</GameCondition_HighMutantPopulation_AttackTitle>
	<GameCondition_HighMutantPopulation_AttackDesc>Mutants attack your settlement</GameCondition_HighMutantPopulation_AttackDesc>
	
	<Corrosium_InspectString>Damage Received: {0}%</Corrosium_InspectString>
	
	<RimOverhaul_UseCommand>Use</RimOverhaul_UseCommand>
	
	<CompChargeableWeapon_ChargeLabel>Charge: {0}%</CompChargeableWeapon_ChargeLabel>
	<CompChargeableWeapon_ChargeDesc>The charge of the item. When it ends, the item will lose most of its strength.</CompChargeableWeapon_ChargeDesc>
	
	<FairPlace_GetInspectString>Time left: {0} days</FairPlace_GetInspectString>
	<EnterToMap_Option>Enter to {0}</EnterToMap_Option>
	
	<Fair_EndTitle>Fair is over</Fair_EndTitle>
	<Fair_EndDesc>The fair has been completed, thanks for participating!</Fair_EndDesc>
	
	<Competitions_Label>Start the competition</Competitions_Label>
	<Competitions_ReportString>Start the competition</Competitions_ReportString>
	<NotEnoughtSkillForComp>There are no settlers with a sufficient skill level in the caravan</NotEnoughtSkillForComp>
	<Competitions_DayResultTitle>{0} day results
Leadership holds {1} (fraction {2}) \n</Competitions_DayResultTitle>
	<Competitions_DayResultTitle2>{0} day results</Competitions_DayResultTitle2>
	<Competitions_WinnerDesc>The {0} faction represented by {2} won the {0} competition. He won with a score of {3}.

The reward was {4} silver and a rewarding experience to skill.</Competitions_WinnerDesc>
	<Competitions_WinnerTitle>Competition Results</Competitions_WinnerTitle>
	<Competitions_JustEndTitle>The competition is over</Competitions_JustEndTitle>
	<Competitions_JustEndDesc>Competition in {0} is over. You did not attend.</Competitions_JustEndDesc>
	<EnterToCompetitions>Participate</EnterToCompetitions>
		<Competitions_EnterToCompetitionsTitle>Competitions begin!</Competitions_EnterToCompetitionsTitle>
	<Competitions_EnterToCompetitionsDesc>Competitions begin!
	
The competition lasts 3 days, every day you will receive statistics where you can track the place of your representative in the score table</Competitions_EnterToCompetitionsDesc>
	<WorldObject_Competitions_ScorePlaceHolder>(points)</WorldObject_Competitions_ScorePlaceHolder>
	<WorldObject_Competitions_YouPlaceHolder>your representative</WorldObject_Competitions_YouPlaceHolder>
	<CommOption_CompetitionsPaid>To bribe judges (600 silver)</CommOption_CompetitionsPaid>
	<Competitions_AlreadyPaid>You have already bribed the judges</Competitions_AlreadyPaid>
	<Competitions_JudgPaidTitle>Judges successfully bribed</Competitions_JudgPaidTitle>
	<Competitions_JudgPaidDesc>You have successfully bribed the judges. This will give you an extra 7 points.</Competitions_JudgPaidDesc>
	<Competitions_NeedToStartForPaid>First you need to come to the competition</Competitions_NeedToStartForPaid>
	<Competitions_JudgePaidFailTitle>Judge inspection</Competitions_JudgePaidFailTitle>
	<Competitions_JudgePaidFailDesc>As a result of the inspection of the judges, it turned out that you bribed them. This will worsen relations with participating factions..</Competitions_JudgePaidFailDesc>
	<Competitions_JudgePaidReason>judging</Competitions_JudgePaidReason>
	
	<MassBurialPlace_WhyAffect>plunder of graves</MassBurialPlace_WhyAffect>
	
	<Quest_PrisonShipAccident_PlaceLabel>Escaped prisoners</Quest_PrisonShipAccident_PlaceLabel>
	<Quest_PrisonShipAccident_PlaceLabel2>Prison place of transfer</Quest_PrisonShipAccident_PlaceLabel2>
	<TransferPrisoners>Hand prisoners</TransferPrisoners>
	<CaravanArrivalAction_TransferPrisoners_SuccessTitle>Prisoner transferred</CaravanArrivalAction_TransferPrisoners_SuccessTitle>
	<CaravanArrivalAction_TransferPrisoners_SuccessDesc>ЗPrisoner {0} successfully transferred. {1} paid you {2} (sent to your base)</CaravanArrivalAction_TransferPrisoners_SuccessDesc>
	<Quest_PrisonShipAccident_NCTitle>Prisoners are gone</Quest_PrisonShipAccident_NCTitle>
	<Quest_PrisonShipAccident_NCDesc>You did not capture a single prisoner, they most likely have already scattered across the planet.</Quest_PrisonShipAccident_NCDesc>
	
	<CaravanBattlePlacePlace_BattleStarted>The battle has begun</CaravanBattlePlacePlace_BattleStarted>
	<CaravanBattlePlacePlace_BattleDescription>Your caravan {0} has fought with {1}. If you leave the map, you will be considered losers and some of your settlers may be killed when trying to escape. The victory will be considered the complete destruction of the enemy forces.</CaravanBattlePlacePlace_BattleDescription>
	<CaravanBattlePlacePlace_Battle_WinnerAITitle>You lose</CaravanBattlePlacePlace_Battle_WinnerAITitle>
	<CaravanBattlePlacePlace_Battle_WinnerAIDesc>The enemy won in this battle</CaravanBattlePlacePlace_Battle_WinnerAIDesc>
	<CaravanBattlePlacePlace_Battle_WinnerPlayerTitle>You won</CaravanBattlePlacePlace_Battle_WinnerPlayerTitle>
	<CaravanBattlePlacePlace_Battle_WinnerPlayerDesc>You were able to defeat the enemy and win the battle!</CaravanBattlePlacePlace_Battle_WinnerPlayerDesc>
	<CaravanBattlePlacePlace_Deserting>{0} was killed while escaping from the battlefield</CaravanBattlePlacePlace_Deserting>
	
</LanguageData>