<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <MEM_Settings_General>Event configuration</MEM_Settings_General>
  <EventActive>Active?</EventActive>

  <General_Title>General settings</General_Title>
  <General_Desc>General settings</General_Desc>
  <UseNewMapSizes_title>Activate additional world sizes</UseNewMapSizes_title>
  <UseNewMapSizes>Activate additional world sizes (game reload required)</UseNewMapSizes>

  <MinParts_title>Min parts</MinParts_title>
  <MinParts>Minimum generated parts scattered around the map</MinParts>
  <MaxParts_title>Max parts</MaxParts_title>
  <MaxParts>Maximum generated parts scattered around the map</MaxParts>
  <ShipCargo_Mining_MinSupply_title>Minimum mining crates</ShipCargo_Mining_MinSupply_title>
  <ShipCargo_Mining_MinSupply>Minimum generated mining crates</ShipCargo_Mining_MinSupply>
  <ShipCargo_Mining_MaxSupply_title>Maximum mining crates</ShipCargo_Mining_MaxSupply_title>
  <ShipCargo_Mining_MaxSupply>Maximum generated mining crates</ShipCargo_Mining_MaxSupply>
  <ShipCargo_Food_MinSupply_title>Minimum food crates</ShipCargo_Food_MinSupply_title>
  <ShipCargo_Food_MinSupply>Minimum generated parts scattered around the map</ShipCargo_Food_MinSupply>
  <ShipCargo_Food_MaxSupply_title>Maximum food crates</ShipCargo_Food_MaxSupply_title>
  <ShipCargo_Food_MaxSupply>Maximum generated parts scattered around the map</ShipCargo_Food_MaxSupply>
  <ShipCargo_Complex_MinSupply_title>Minimum complex crates</ShipCargo_Complex_MinSupply_title>
  <ShipCargo_Complex_MinSupply>Minimum generated parts scattered around the map</ShipCargo_Complex_MinSupply>
  <ShipCargo_Complex_MaxSupply_title>Maximum complex crates</ShipCargo_Complex_MaxSupply_title>
  <ShipCargo_Complex_MaxSupply>Maximum generated parts scattered around the map</ShipCargo_Complex_MaxSupply>
  <ShipCargo_Armory_MinSupply_title>Minimum weapons and apparels crates</ShipCargo_Armory_MinSupply_title>
  <ShipCargo_Armory_MinSupply>Minimum generated parts scattered around the map</ShipCargo_Armory_MinSupply>
  <ShipCargo_Armory_MaxSupply_title>Maximum weapons and apparels crates</ShipCargo_Armory_MaxSupply_title>
  <ShipCargo_Armory_MaxSupply>Maximum generated parts scattered around the map</ShipCargo_Armory_MaxSupply>
  <ShipCargo_Living_MinSupply_title>Minimum pawns crates</ShipCargo_Living_MinSupply_title>
  <ShipCargo_Living_MinSupply>Minimum generated parts scattered around the map</ShipCargo_Living_MinSupply>
  <ShipCargo_Living_MaxSupply_title>Maximum pawns crates</ShipCargo_Living_MaxSupply_title>
  <ShipCargo_Living_MaxSupply>Maximum generated parts scattered around the map</ShipCargo_Living_MaxSupply>
  
  <EnablePositive_title>Activate positive constellations (1 - yes, 0 - no)</EnablePositive_title>
  <EnablePositive>Activate positive constellations (1 - yes, 0 - no)</EnablePositive>
  <EnableNegative_title>Activate negative constellations (1 - yes, 0 - no)</EnableNegative_title>
  <EnableNegative>Activate negative constellations (1 - yes, 0 - no)</EnableNegative>
  
  <RaidEnemyWithAnimals_Title>Raid with animals</RaidEnemyWithAnimals_Title>
  <RaidEnemyWithAnimals_Desc>Raid with animals</RaidEnemyWithAnimals_Desc>
  
  <DoMapChange_title>Change biomes to the desert gradually (1/0)</DoMapChange_title>
  <DoMapChange>If active (1), then every few days random tiles will change their biome to the desert</DoMapChange>
  
  <Temperature_title>Temperature</Temperature_title>
  <Temperature>Temperature</Temperature>
  
</LanguageData>