<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
	
	<AnimalsDungMod>Animals Dung mod</AnimalsDungMod>
	
	<PercentOfAnimalsDung>The amount of manure received (%)</PercentOfAnimalsDung>
	
	<PeriodicityOfAnimalsDung>Manure frequency (the larger the number, the longer the interval before appearance)</PeriodicityOfAnimalsDung>
	
	<AllowWild>Allow wild animals to manure</AllowWild>

</LanguageData>
