<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <AMSC.ToggleSmartTarget>Use Smart Targeting?</AMSC.ToggleSmartTarget>
    <AMSC.ToggleSmartTargetDesc>Smart Targeting will automatically attempt to fire at the targets best for the currently loaded shell.</AMSC.ToggleSmartTargetDesc>
    <AMSC.ToggleAutoFirefight>Automaticall fight fires?</AMSC.ToggleAutoFirefight>
    <AMSC.ToggleAutoFirefightDesc>Automatically fire at fire if loaded with firefoam shells?</AMSC.ToggleAutoFirefightDesc>
    <AMSC.SmartShieldTactics>Smart Shield Tactics</AMSC.SmartShieldTactics>
    <AMSC.SmartShieldTactics0>None</AMSC.SmartShieldTactics0>
    <AMSC.SmartShieldTactics1>EMP Only</AMSC.SmartShieldTactics1>
    <AMSC.SmartShieldTactics2>EMP and Check Target</AMSC.SmartShieldTactics2>
    <AMSC.SmartShieldTactics3>EMP and Check Full Path</AMSC.SmartShieldTactics3>
    <AMSC.SmartShieldTacticsDesc>Level of smart shield tactics to employ:\nNone: Vanilla Behavior\nEMP Only: Mortars loaded with EMP shells will fire at shields\nEMP and Check Target: As above, and also mortars loaded with non-EMP shells will avoid firing at targets that are directly covered by shields.\nEMP and Check Full Path: Same as EMP Only, and also mortars with non-EMP shells will check their entire fire arc for shields before firing. WARNING: May cause performance issues. Not Recommended.</AMSC.SmartShieldTacticsDesc>
</LanguageData>