<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <XFMParmor_Settings_SettingsCategory>XVI-机甲</XFMParmor_Settings_SettingsCategory>
  
  <XFMParmor_Settings_getOutAfterDraftedA>解散后退出机甲</XFMParmor_Settings_getOutAfterDraftedA>
  <XFMParmor_Settings_getOutAfterDraftedB>驾驶员将在征召结束后自动前往最近的装配井退出机甲。</XFMParmor_Settings_getOutAfterDraftedB>

  <XFMParmor_Settings_forceDraftedA>强制锁定征召</XFMParmor_Settings_forceDraftedA>
  <XFMParmor_Settings_forceDraftedB>驾驶员不再在长时间闲置后自动解除征召。</XFMParmor_Settings_forceDraftedB>

  <XFMParmor_Settings_putWeaponIntoInventoryA>随身装备放入物品栏</XFMParmor_Settings_putWeaponIntoInventoryA>
  <XFMParmor_Settings_putWeaponIntoInventoryB>驾驶员在进入机甲时将把原有的武器放入物品栏而不是置于地上。</XFMParmor_Settings_putWeaponIntoInventoryB>

  <XFMParmor_Settings_forceFriendlyFireA>强制友军伤害</XFMParmor_Settings_forceFriendlyFireA>
  <XFMParmor_Settings_forceFriendlyFireB>该选项默认是关闭的，即以下机制不会对友方造成影响。\n开启后强制以下机制对除了自己以外的所有目标造成影响。</XFMParmor_Settings_forceFriendlyFireB>
</LanguageData>