<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
	
	<AnimalsDungMod>Animals Dung mod</AnimalsDungMod>
	
	<PercentOfAnimalsDung>Количество получаемого навоза (%)</PercentOfAnimalsDung>
	
	<PeriodicityOfAnimalsDung>Частота появления навоза (чем больше число, тем больше интервал до появления)</PeriodicityOfAnimalsDung>
	
	<AllowWild>Разрешить появление навоза у диких животных</AllowWild>

</LanguageData>
