<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
    <QualityColors>Quality Colors</QualityColors>
    <QualityColors.Colors.Label>Change Colors</QualityColors.Colors.Label>
    <QualityColors.Change>Edit color for {0}</QualityColors.Change>
    <QualityColors.Presets>Switch to preset</QualityColors.Presets>
    <QualityColors.Presets.Legacy>Legacy, what the mod had originally</QualityColors.Presets.Legacy>
    <QualityColors.Presets.WoW>World of Warcraft (ish)</QualityColors.Presets.WoW>
    <QualityColors.Presets.Default>Defaults</QualityColors.Presets.Default>
    <QualityColors.Presets.Colorblind>Colorblind Mode (Really sorry if I messed this up)</QualityColors.Presets.Colorblind>
    <QualityColors.Presets.FFXIV>Final Fantasy 14 (Contributed by Erin)</QualityColors.Presets.FFXIV>
    <QualityColors.Apply>Apply</QualityColors.Apply>
    <QualityColors.Red>Red: </QualityColors.Red>
    <QualityColors.Blue>Blue: </QualityColors.Blue>
    <QualityColors.Green>Green: </QualityColors.Green>
    <QualityColors.Preview>Preview: </QualityColors.Preview>
    <QualityColors.Changing>Changing {0}</QualityColors.Changing>
    <QualityColors.FullLabel.Label>Color entire label?</QualityColors.FullLabel.Label>
    <QualityColors.FullLabel.Tooltip>Put the color on the entire label when clicking on an item?</QualityColors.FullLabel.Tooltip>
</LanguageData>