<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<WorshipModCategory>Worship and Sacrifice</WorshipModCategory>
	<WorshipHoursToZero>Hours for worship need to fall from 100% -> 0%</WorshipHoursToZero>
	<WorshipHoursToFull>Hours for worship need to rise from 0% -> 100%</WorshipHoursToFull>
	<SacrificeHoursToZero>Hours for sacrifice need to fall from 100% -> 0%</SacrificeHoursToZero>
</LanguageData>
