<Defs>
	<XmlExtensions.SettingsMenuDef>
		<defName>ZzZombo_GunMagazines_Settings</defName>
		<modId>ZzZombo.commission.GunMagazines</modId>
		<label>Gun Magazines</label>
		<settings>
			<li Class="XmlExtensions.Setting.Text">
				<text>Gun Magazines</text>
				<tKey>ZzZombo_GunMagazines_SettingsTitle</tKey>
				<font>Medium</font>
				<anchor>Middle</anchor>
			</li>
			<li Class="XmlExtensions.Setting.GapLine" />
			<li Class="XmlExtensions.Setting.Text">
				<text>Configure weapons:</text>
				<tKey>ZzZombo_GunMagazines_Settings_ConfigureWeaponsPrompt</tKey>
			</li>
			<li Class="XmlExtensions.Setting.Section" id="weaponSection">
				<settings></settings>
			</li>
		</settings>
	</XmlExtensions.SettingsMenuDef>
</Defs>
