<?xml version="1.0"?>
<ArrayOfEventSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<EventSettings>
		<key>General</key>
		<useCustomLabels>true</useCustomLabels>
		<parameters>
			<Param>UseNewMapSizes</Param>
			<Value>1</Value>
		</parameters>
	</EventSettings>
	<EventSettings>
		<key>ShipCrash</key>
		<useCustomLabels>false</useCustomLabels>
		<parameters>
			<Param>MinParts</Param>
			<Value>4</Value>
		</parameters>
		<parameters>
			<Param>MaxParts</Param>
			<Value>10</Value>
		</parameters>
		<parameters>
			<Param>ShipCargo_Mining_MinSupply</Param>
			<Value>5</Value>
		</parameters>
		<parameters>
			<Param>ShipCargo_Mining_MaxSupply</Param>
			<Value>19</Value>
		</parameters>
		<parameters>
			<Param>ShipCargo_Food_MinSupply</Param>
			<Value>5</Value>
		</parameters>
		<parameters>
			<Param>ShipCargo_Food_MaxSupply</Param>
			<Value>19</Value>
		</parameters>
		<parameters>
			<Param>ShipCargo_Complex_MinSupply</Param>
			<Value>5</Value>
		</parameters>
		<parameters>
			<Param>ShipCargo_Complex_MaxSupply</Param>
			<Value>19</Value>
		</parameters>
		<parameters>
			<Param>ShipCargo_Armory_MinSupply</Param>
			<Value>5</Value>
		</parameters>
		<parameters>
			<Param>ShipCargo_Armory_MaxSupply</Param>
			<Value>12</Value>
		</parameters>
		<parameters>
			<Param>ShipCargo_Living_MinSupply</Param>
			<Value>1</Value>
		</parameters>
		<parameters>
			<Param>ShipCargo_Living_MaxSupply</Param>
			<Value>5</Value>
		</parameters>
	</EventSettings>
	<EventSettings>
		<key>Supernova</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>NoSun</key>
		<useCustomLabels>false</useCustomLabels>
		<parameters>
			<Param>Temperature</Param>
			<Value>-200</Value>
		</parameters>
	</EventSettings>
	<EventSettings>
		<key>SuperHeatWave</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>MechanoidPortal</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Disease_NeurofibromatousWorms</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Disease_Fibrodysplasia</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>DestroyRoad</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>BoulderMassHit</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>BeetleRush</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>RadiationFon</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>IceStorm</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>HeavyAir</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>LeanAtmosphere</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>NoSun</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>SandStorm</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Endlessday</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>DenseAtmosphere</key>
		<useCustomLabels>false</useCustomLabels>
		<parameters>
			<Param>DoMapChange</Param>
			<Value>1</Value>
		</parameters>
	</EventSettings>
	<EventSettings>
		<key>ClimateBomb</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>IonizedAtmosphere</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>RimOverhaul_Earthquake</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>SiegeCamp</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>AttackFriendlySettlement</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Constellations</key>
		<useCustomLabels>false</useCustomLabels>
		<parameters>
			<Param>EnablePositive</Param>
			<Value>1</Value>
		</parameters>
		<parameters>
			<Param>EnableNegative</Param>
			<Value>1</Value>
		</parameters>
	</EventSettings>
	<EventSettings>
		<key>MineralMeteorite</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>DropAnimalInsanity</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>HungryCannibalRaid</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>DoomsdayUltimatum</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Arsonists</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>UnifiedRaid</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Quest_ResourceHelp</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Quest_BuildNewBase</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Quest_MissingPeople</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Psychogas</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Disease_ZeroMechanites</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>SummerSolstice</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Pocahontas</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>SeaAir</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>MountainAir</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Quest_KillLeader</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Quest_SuppressionRebellion</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>RimOverhaul_SpaceBattle</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Quest_KillOrder</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>ConcantrationCamp</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>TunnelRats</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>RaidEnemyWithAnimals</key>
		<useCustomLabels>true</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>HighMutantPopulation</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Fair</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>ExplosiveFever</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>GlacialPeriod</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>ActiveStar</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Competitions</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>MassBurial</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>PlaceBattle</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>AmbushTwoFactions</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	<EventSettings>
		<key>Quest_PrisonShipAccident</key>
		<useCustomLabels>false</useCustomLabels>
	</EventSettings>
	
	<!-- DARKNET -->
	<EventSettings>
		<key>TraderWorker_RogerEdmonson</key>
		<useCustomLabels>true</useCustomLabels>
		<requiredModule>DarkNET</requiredModule>
		<parameters>
			<Param>onlineTime</Param>
			<Value>3</Value>
		</parameters>
		<parameters>
			<Param>arrivaTime</Param>
			<Value>14</Value>
		</parameters>
		<parameters>
			<Param>marketValueMultiplierPerMapEvent</Param>
			<Value>80</Value>
		</parameters>
		<parameters>
			<Param>startMarketValue</Param>
			<Value>1200</Value>
		</parameters>
		<parameters>
			<Param>specialGoodMarketValue</Param>
			<Value>6000</Value>
		</parameters>
		<parameters>
			<Param>minRaidsCountToGeneralGood</Param>
			<Value>10</Value>
		</parameters>
		<parameters>
			<Param>generalGoodsChance</Param>
			<Value>0.30</Value>
		</parameters>
	</EventSettings>
	
	<EventSettings>
		<key>TraderWorker_Eisenberg</key>
		<useCustomLabels>true</useCustomLabels>
		<requiredModule>DarkNET</requiredModule>
		<parameters>
			<Param>onlineTime</Param>
			<Value>5</Value>
		</parameters>
		<parameters>
			<Param>arrivaTime</Param>
			<Value>3</Value>
		</parameters>
		<parameters>
			<Param>questEarlistDay</Param>
			<Value>70</Value>
		</parameters>
		<parameters>
			<Param>basicDiscount</Param>
			<Value>0.25</Value>
		</parameters>
		<parameters>
			<Param>minReputationToDiscount</Param>
			<Value>10</Value>
		</parameters>
		<parameters>
			<Param>forceDiscount</Param>
			<Value>0.7</Value>
		</parameters>
		<parameters>
			<Param>reputationGainForBuy</Param>
			<Value>0.0015</Value>
		</parameters>
		<parameters>
			<Param>maxDiscount</Param>
			<Value>70</Value>
		</parameters>
		<parameters>
			<Param>minReputationToQuest</Param>
			<Value>10</Value>
		</parameters>
		<parameters>
			<Param>questChance</Param>
			<Value>0.1</Value>
		</parameters>
	</EventSettings>
	
	<EventSettings>
		<key>TraderWorker_JohnCarver</key>
		<useCustomLabels>true</useCustomLabels>
		<requiredModule>DarkNET</requiredModule>
		<parameters>
			<Param>onlineTime</Param>
			<Value>3</Value>
		</parameters>
		<parameters>
			<Param>arrivaTime</Param>
			<Value>8</Value>
		</parameters>
	</EventSettings>
	
	<EventSettings>
		<key>TraderWorker_Archotech_567H</key>
		<useCustomLabels>true</useCustomLabels>
		<requiredModule>DarkNET</requiredModule>
		<parameters>
			<Param>onlineTime</Param>
			<Value>2</Value>
		</parameters>
		<parameters>
			<Param>arrivaTime</Param>
			<Value>8</Value>
		</parameters>
	</EventSettings>
	
	<EventSettings>
		<key>TraderWorker_Sly</key>
		<useCustomLabels>true</useCustomLabels>
		<requiredModule>DarkNET</requiredModule>
		<parameters>
			<Param>onlineTime</Param>
			<Value>2</Value>
		</parameters>
		<parameters>
			<Param>arrivaTime</Param>
			<Value>7</Value>
		</parameters>
	</EventSettings>
	<!-- ========================== -->
</ArrayOfEventSettings>