<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<DS_InstallCommand_Title>Установить {0}</DS_InstallCommand_Title>
	<DS_InstallCommand_Desc>Установить объект</DS_InstallCommand_Desc>

	<Supernova_label>Взрыв сверхновой</Supernova_label>
	<SupernovaExp_low>На расстоянии нескольких сотен тысяч световых лет произошел взрыв сверхновой. Он не причинит никакого вреда и будет виден со всех уголков планеты, что позволит наблюдать красивое зрелище</SupernovaExp_low>
	<SupernovaExp_medium>На расстоянии нескольких десятков тысяч световых лет произошел взрыв сверхновой. Ожидается небольшой метеоритный дождь и повышение температуры.</SupernovaExp_medium>
	<SupernovaExp_high>На расстоянии нескольких тычяч световых лет произошел взрыв сверхновой. Ожидайте мощные метеоритные дожди, очень сильное повышение температуры и продолжительный день.</SupernovaExp_high>
	<SupernovaExp_ultra>На расстоянии нескольких сотен световых лет произошел взрыв сверхновой. Ожидайте мощные метеоритные дожди, продолжительные дни, очень сильное повышение температуры. Так же взрыв, вероятно, уничтожит часть атмосферы.</SupernovaExp_ultra>

	<HiveCreaturesCount>Особей: </HiveCreaturesCount>
	<HiveLevel>Уровень: </HiveLevel>

	<ShipCargo_Food_ExpandLabel>Обломок корабля</ShipCargo_Food_ExpandLabel>
	<ShipCargo_Food_Description>Обломок грузового сектора</ShipCargo_Food_Description>
	<ShipSite_LeaveCommandLabel>Уйти</ShipSite_LeaveCommandLabel>
	<ShipSite_LeaveCommandDesc>Собрать караван и уйти</ShipSite_LeaveCommandDesc>
	<CaravanEnteredShipCrash>Караван прибыл к</CaravanEnteredShipCrash>

	<ShipCargo_Mining_ExpandLabel>Обломок корабля</ShipCargo_Mining_ExpandLabel>
	<ShipCargo_Mining_Description>Обломок грузового сектора</ShipCargo_Mining_Description>

	<ShipPartTimeout>\nВероятно, обломки будут разграблены через (дней):</ShipPartTimeout>

	<ShipCargo_Complex_ExpandLabel>Обломок корабля</ShipCargo_Complex_ExpandLabel>
	<ShipCargo_Complex_Description>Обломок грузового сектора</ShipCargo_Complex_Description>

	<EnemyOnTheMap>На карте еще остались враги. Вы не можете собрать караван сейчас.</EnemyOnTheMap>

	<Ship_ExpandLabel>Обломок корабля</Ship_ExpandLabel>
	<Ship_Description>Обломок корабля. Сектор неизвестен.</Ship_Description>

	<FireSpreadIs>Пожар усилится через (дней): </FireSpreadIs>
	<CaravanEnteredMassiveFire>Караван прибыл к</CaravanEnteredMassiveFire>

	<DetonationIn>Автоматическая детонация через (дней): </DetonationIn>
	<DisarmingProgress>Прогресс разминирования: </DisarmingProgress>
	<DisarmAction>Начать процесс разминирования</DisarmAction>
	<SuccessDisarming>Бомба разминирована</SuccessDisarming>
	<SuccessDisarmingDesc>Климатическая бомба была успешна разминирована. В процессе разминирования был обнаружен элемент, который, похоже, являлся основным источником энергии.
  Ваши люди смогли извечь его. С его помощью, вероятно, получится создать новый источник энергии.</SuccessDisarmingDesc>
	<BombDisarmed>Бомба обезврежена</BombDisarmed>
	<DefusingInfo>Попытка разминировать бомбу\n\nВаши колонисты сообщают, что попытка обезвредить бомбу может активировать защитные механизмы бомбы, которые, вероятно, привлекут множество других людей сюда.\n\nПриготовьтесь встретить их!</DefusingInfo>

	<InstallCommand_Title>Установить</InstallCommand_Title>
	<InstallCommand_Desc>Выбрать место для постройки</InstallCommand_Desc>

	<Earthshake>Землетрясение закончилось</Earthshake>
	<EarthshakeDesc>Землетрясение закончилось. Магнитуда:</EarthshakeDesc>

	<ZeroPointReactorDestablished>Реактор нулевой точки дестабилизирован.</ZeroPointReactorDestablished>
	<ZeroPointReactorDestablishedDesc>Реактор нулевой точки дестабилизирован и вот-вот выйдет из строя. Вакуумное ядро притягивает ближайших поселенцев, осторожно!</ZeroPointReactorDestablishedDesc>	
	<ZPRNeedMorePumps>\n- Требуется вакуумных насосов: </ZPRNeedMorePumps>
	<ZPRWorking>Активен.</ZPRWorking>
	<ZPRNoActiveLabel>Неактивен:</ZPRNoActiveLabel>
	<ZPRHasRoofs>\n- Требуется крыша</ZPRHasRoofs>
	<ZPRNeedRoom>\n- Требуется помещение</ZPRNeedRoom>

	<SiegeCampUpdateTimer>\nДней до улучшения:</SiegeCampUpdateTimer>
	<SiegeCampLevel>Сложность лагеря:</SiegeCampLevel>
	<YourAttackWasRepelledTitle>Ваша атака провалилась.</YourAttackWasRepelledTitle>
	<YourAttackWasRepelledDesc>Ваша атака на вражеский лагерь провалилась. Они учтут свои ошибки в обороне и, вероятно, могут перестроить свою оборону. Оставшиеся в живых колонисты вероятно мертвы или проданы в рабство.</YourAttackWasRepelledDesc>

	<AttackIsNotRepelled>Вы не можете уйти сейчас. Атака еще не отражена.</AttackIsNotRepelled>
	<TimerDaysToAttack>Дней до нападения: {0}</TimerDaysToAttack>
	<ThreatLevel>\nУровень угрозы: {0}</ThreatLevel>
	<AttackFriendlySettlementLetter1>Разведчики дружественного поселения {0} докладывают, что одно из вражеских поселений готовит на них атаку. Они просят у вас помощи. К сожалению, уровень угрозы не известен. 
(Чтобы помочь поселению, отправьте к нему караван и отбейте атаку)</AttackFriendlySettlementLetter1>
	<AttackFriendlySettlementLetter2>Разведчики дружественного поселения {0} докладывают, что одно из вражеских поселений готовит на них атаку. Они просят у вас помощи. Уровень угрозы: {1} 
(Чтобы помочь поселению, отправьте к нему караван и отбейте атаку)</AttackFriendlySettlementLetter2>
	<AttackedFriendlySettlementDefendHelp>Вы прибыли на место. Обустройте защиту, поселенцы дружественного поселения переданы в ваше распоряжение. Помните, что вам нужно сохранить как можно больше жизней!</AttackedFriendlySettlementDefendHelp>
	<AttackedFriendlySettlementDefendVictory>Вы отбили атаку.\n {0} благодарно вам. Всего вы смогли сохранить жизнь {1} поселенцам, за что вы получаете награду:\n{2}\n\nОна ожидает вас на на дружественной базе. Вы сможете забрать её когда сформируете караван или в другой любой момент.</AttackedFriendlySettlementDefendVictory>
	<AttackedFriendlySettlementDefendLoseWithHelp>Вы отбили атаку, но не смогли спасти ни одного дружественного поселенца. \nВам попросту некому выдать награду, а дружественное поселение разбито.</AttackedFriendlySettlementDefendLoseWithHelp>
	<AttackedFriendlySettlementLoseWithoutHelp>Вы не пришли на помощь поселению {0}, репутация снижена.</AttackedFriendlySettlementLoseWithoutHelp>
	<RaidStartDefendTitle>Атака началась!</RaidStartDefendTitle>
	<RaidStartDefend>Враги нападают, приготовиться!</RaidStartDefend>

	<EnergyChargeCapacity>Уровень заряда: {0} / {1}</EnergyChargeCapacity>
	<InactiveNoHelmet>\nНеактивен. Отсутствует шлем.</InactiveNoHelmet>
	<InactiveMk1>Неактивен</InactiveMk1>
	<EnergyChargeCapacity2>Уровень заряда</EnergyChargeCapacity2>
	<Station>Станция</Station>
	<UnloadArmor>Отключить броню от станции</UnloadArmor>
	<LoadArmor>Подключить броню к станции</LoadArmor>
	<NoAvaliableArmors>Нет доступной брони</NoAvaliableArmors>
	<NotEnoughSpace>Нет места для брони. Освободите больше места вокруг станции.</NotEnoughSpace>
	<NoArmorInStation>Станция не активна. \nОтсутствует броня.</NoArmorInStation>
	<CoreType>Ядро</CoreType>
	<ChargeSpeed>Скорость зарядки: {0}</ChargeSpeed>
	<EnabledCharging>Активно. Идет зарядка</EnabledCharging>
	<FullCharge>Достигнут предел зарядки реактора</FullCharge>
	<NoPowerRightNow>▬► NO POWER ◄▬</NoPowerRightNow>
	<NoCore>Отсутствует ядро</NoCore>
	<NoAvaliableCores>Нет доступных ядер</NoAvaliableCores>
	<ColdFusionCore>Холодный синтез</ColdFusionCore>
	<ArcReactorCore>Дуговой</ArcReactorCore>

	<WeaponDeactivated>Оружие судного дня до сих пор активно.</WeaponDeactivated>
	<PlanetWillBeDestroyed>Планета будет уничтожена через (дней):</PlanetWillBeDestroyed>
	<PlayerSilverCount>Серебро игрока: {0}</PlayerSilverCount>
	<FactionGift>Серебро от фракций: {0}</FactionGift>
	<GiveRansom>Заплатить выкуп</GiveRansom>
	<NotEnoughSilverDoom>Заплатить выкуп [Недостаточно серебра]</NotEnoughSilverDoom>
	<PaidSuccessDoom>Выкуп уплачен</PaidSuccessDoom>
	<RansomCompleteTitle>Выкуп уплачен</RansomCompleteTitle>
	<RansomComplete>Вражеский командир громко смеется в рацию. Так уж и быть, они не будут взрывать планету. Смех утихает и вы видите, как они сворачивают свой лагерь и устремляются вдаль. Возможно, это еще не конец.</RansomComplete>
	<PlanetDestroyed>Уши каждого присутствующего заложило от неестественно громкого звука. Грохот был подобен взрыву сотен тысяч бомб, а вспышка света — рождению звезды. Земля пришла в движение, низвергая в свои недра незадачливых зрителей, раздающихся безумными криками. Лицо каждого застыло в гримасе ужаса, а в глазах отразилась кровь планеты — лава.
Апокалиптическая машина испустила столб яркого света, знаменующего конец не только вашей колонии, но и этого мира: уничтоженная атмосфера унесла с собой надежду на спасение. Волны солнечной радиации захлестнули всю поверхность трещащей по швам планеты. Осколки бренного мира еще долго будут напоминать потомкам, что нет лучшего уничтожителя рода человеческого, чем сам человек.
Место вашего нынешнего пребывания не смог бы описать даже лучший из писателей, но если бы он принялся за эту обреченную на провал задачу, то он точно не использовал бы производные от слова «Рай».</PlanetDestroyed>
	<ArsonOut>Поджигатели уходят</ArsonOut>

	<DoomsdayEnterSiteHelp>Вы пришли к вражеской базе. Где-то скрыто оружие судного дня. Его нужно найти, обесточить и уничтожить, но сначала придется зачистить базу.</DoomsdayEnterSiteHelp>
	<DeEnergizedStatus>Уровень энергии: {0}</DeEnergizedStatus>
	<ShildsOffDommsdayTitle>Энергетический щит отключен</ShildsOffDommsdayTitle>
	<DeactiveEnergyShieldDoom>Отключить энергетический щит</DeactiveEnergyShieldDoom>
	<ShildsOffDommsday>Вы смогли отключить энергетический барьер защищающий устройство. Теперь, чтобы не уничтожить всю карту требуется отключить системы защиты.</ShildsOffDommsday>
	<SecurityNonActiveDoomsday>\nСистемы защиты: отключены</SecurityNonActiveDoomsday>
	<SecurityActiveDoomsday>\nСистемы защиты: активны</SecurityActiveDoomsday>
	<DisableSecuritySystems>Отключить системы защиты</DisableSecuritySystems>
	<DoomsdayContrAttackTitle>Контратака</DoomsdayContrAttackTitle>
	<DoomsdayContrAttack>Они контратакуют!</DoomsdayContrAttack>

	<HelpCommand>информация о командах</HelpCommand>
	<ClearCommand>очистить консоль</ClearCommand>

	<DoomsdatTerminal_SecurityCommand>Доступ к системам безопасности</DoomsdatTerminal_SecurityCommand>
	<DoomsdayTerminal_UsersCommand>Управления пользователями системы</DoomsdayTerminal_UsersCommand>
	<DoomsdayTerminal_AddNewUsers>--> Добавить нового пользователя: /users add *username* *password*</DoomsdayTerminal_AddNewUsers>
	<DoomsdayTerminal_RemoveUsers>--> Удалить пользователя: /users delete *username* *password*</DoomsdayTerminal_RemoveUsers>
	<DoomsdayTerminal_NoAccess>Нет доступа</DoomsdayTerminal_NoAccess>
	<DoomsdayTerminal_WrongArguments>Неверные аргументы</DoomsdayTerminal_WrongArguments>
	<DoomsdayTerminal_WrongPassword>Неверный пароль</DoomsdayTerminal_WrongPassword>
	<DoomsdayTerminal_LoginCommand>Войти в систему. Формат: /login *username* *password*</DoomsdayTerminal_LoginCommand>
	<DoomsdayTerminal_LogginSuccess>Вы вошли в систему как {0}</DoomsdayTerminal_LogginSuccess>
	<DoomsdayTerminal_LogginFail>Неудачная попытка входа. Проверьте логин и пароль.</DoomsdayTerminal_LogginFail>
	<DoomsdayTerminal_ActiveUsers>Активные пользователи:</DoomsdayTerminal_ActiveUsers>
	<DoomsdayTerminal_LogoutCommand>Выйти из аккаунта</DoomsdayTerminal_LogoutCommand>
	<DoomsdayTerminal_LoginFirst>Вход не выполнен.</DoomsdayTerminal_LoginFirst>
	<DoomsdayTerminal_LogoutOk>Вы успешно вышли из аккаунта.</DoomsdayTerminal_LogoutOk>
	<DoomsdayTerminal_HackUsers>%^3Встраивание инструкций... !#%1@5)(26w\nДля использования HackTools 1.0 выполните /users hack</DoomsdayTerminal_HackUsers>
	<DoomsdayTerminal_UsersHack>Активация модуля HackTools 1.0\nАктивация успешна.\nПоиск уязвимостей... Найдено административное письмо.
Дешифровка письма...

От кого: ExFeral
Кому: AktunOba

Кажется, босс все же собирается использовать оружие для шантажа. Черт, он собирается взорвать этот мир.
Я, конечно, не против кучи серебра, но я же тоже здесь живу! Я пытался уговорить его быть помягче, но кажется мысли о тысячах серебряных монет сводят его с ума.
Я хочу перестраховаться, если вдруг станет слишком жарко, но я не могу просто оставить пароль вот так.
Я набросал загадку, я много раз тебе её рассказывал, думаю у тебя не будет проблем, чтобы её разгадать. Используй её для логина Fernal.
Вы заходите в тёмную кухню. В ней есть свеча, керосиновая лампа и газовая плита. Что вы зажжёте в первую очередь?
	</DoomsdayTerminal_UsersHack>
	<DoomsdayTerminal_UsersHackAnser>Спичку</DoomsdayTerminal_UsersHackAnser>
	<DoomsdayTerminal_AlreadyLogged>Вы уже вошли. Используйте /logout для выхода.</DoomsdayTerminal_AlreadyLogged>
	<DoomsdayTerminal_SecurityFirst>Введите пароль безопасности. /security *password*
*(5$#LKki*6 HackTools 1.0 --> Дамп памяти /security dump ^I21%$$*1%p0rfgw
	</DoomsdayTerminal_SecurityFirst>
	<DoomsdayTerminal_HackToolsSecurity>
Inject HackTools 1.0
--> Meta OK
--> Memory OK
--> Дамп памяти...</DoomsdayTerminal_HackToolsSecurity>
	<DoomsdayTerminal_SecurityAccessGranted>Доступ к системам безопасности предоставлен.
Команды:
--> /security disable
--> /security energy
	</DoomsdayTerminal_SecurityAccessGranted>
	<DoomsdayTerminal_SecurityNoPower>Питание отключено, деактивация защитных систем невозможна.</DoomsdayTerminal_SecurityNoPower>
	<DoomsdayTerminal_SecurityPowerOk>Питание включено.</DoomsdayTerminal_SecurityPowerOk>
	<DoomsdayTerminal_SecurityPowerInfoPassive>Добро пожаловать в раздел управления энергией

-->Энергетический щит: неактивен
-->Подача энергии: выключена

RETROS RBIOS-4.02.000 T2EE5/E7.E8
Root (5A8)

RUN IN PASSIVE MODE, TO DISABLE --> /security energy activemode</DoomsdayTerminal_SecurityPowerInfoPassive>
	<DoomsdayTerminal_ActiveModeEnable>Активация активного режима...

ExplasaSystems 5.3 (BG/SS5 FastUse 13.2)
Energy RETROS RBIOS-4.02.000 T2EE5/E7.E8
...
...
Инициализация пользовательского режима...
Активация внутренних систем...
Системы активны.


RUN IN ACTIVE MODE
	</DoomsdayTerminal_ActiveModeEnable>

	<DoomsdayTerminal_SecurityPowerInfoActive>Добро пожаловать в раздел управления энергией

-->Энергетический щит: неактивен
-->Подача энергии: выключена

RETROS RBIOS-4.02.000 T2EE5/E7.E8
Root (5A8)

RUN IN ACTIVE MODE
COMMANDS:
--> /security energy shields
--> /security energy on</DoomsdayTerminal_SecurityPowerInfoActive>
	<DoomsdayTerminal_ActiveModeReq>Недоступно в пассивном режиме.</DoomsdayTerminal_ActiveModeReq>
	<DoomsdayTerminal_ShieldsOff>Управление системой энергетического щита отключено.</DoomsdayTerminal_ShieldsOff>
	<DoomsdayTerminal_PowerActivating>Переключение магнитных резисторов --> OK
Перенаправление энергии на управляющий вал --> OK</DoomsdayTerminal_PowerActivating>
	<DoomsdayTerminal_SecurityDisabled>Отключение систем безопасности --> OK</DoomsdayTerminal_SecurityDisabled>
	<SecurityDoomsdayOffTitle>Системы отключены</SecurityDoomsdayOffTitle>
	<SecurityDoomsdayOff>Вы смогли отключить системы безопасности у оружия судного дня. Теперь его можно спокойной уничтожить.</SecurityDoomsdayOff>

	<GameCondition_SpaceBattleTitle>С неба обрушился корабельный отсек.</GameCondition_SpaceBattleTitle>

	<ConcantrationCampTitle>Заключенные</ConcantrationCampTitle>
	<ConcantrationCamp>Как только вы вошли на территорию концлагеря, на средства связи ваших колонистов стали поступать сигналы. Вам удалось их отследить и теперь вы точно знаете, где держат заключенных.</ConcantrationCamp>

	<Building_TribalCrack_OptionInactive>Невозможно уничтожить, у выбранного поселенца нет гранат.</Building_TribalCrack_OptionInactive>
	<Building_TribalCrack_Option>Спуститься в туннель и взорвать его.</Building_TribalCrack_Option>

	<Building_TribalCrack_Title>Туннель уничтожен</Building_TribalCrack_Title>
	<Building_TribalCrack_Desc>{0} уничтожил туннель, связывающий вас с поселением аборигенов.</Building_TribalCrack_Desc>

	<TribalCrack_InfoTitle>Миссия начата</TribalCrack_InfoTitle>
	<TribalCrack_InfoDesc>Поселенец {0} отправился в туннель. Установка бомбы и взрыв займет примерно {1} дней. В это время поселенец будет недоступен.</TribalCrack_InfoDesc>

    <Building_TribalCrack_DoDestroyAction>Закопать руками</Building_TribalCrack_DoDestroyAction>
	<Building_TribalCrack_Info>Закопано: {0}</Building_TribalCrack_Info>

	<GameCondition_HighMutantPopulation_AttackTitle>Атака мутантов</GameCondition_HighMutantPopulation_AttackTitle>
	<GameCondition_HighMutantPopulation_AttackDesc>Мутанты нападают на ваше поселение</GameCondition_HighMutantPopulation_AttackDesc>

	<Corrosium_InspectString>Получаемый урон: {0}%</Corrosium_InspectString>

	<RimOverhaul_UseCommand>Использовать</RimOverhaul_UseCommand>
	
	<CompChargeableWeapon_ChargeLabel>Заряд: {0}%</CompChargeableWeapon_ChargeLabel>
	<CompChargeableWeapon_ChargeDesc>Заряд предмета. Когда он закончится, предмет потеряет большинство своей силы.</CompChargeableWeapon_ChargeDesc>
	
	<FairPlace_GetInspectString>Осталось: {0} дней</FairPlace_GetInspectString>
	<EnterToMap_Option>Войти в {0}</EnterToMap_Option>
	
	<Fair_EndTitle>Ярмарка окончена</Fair_EndTitle>
	<Fair_EndDesc>Ярмарка была завершена, спасибо за участие!</Fair_EndDesc>
	
	<Competitions_Label>Начать соревнование</Competitions_Label>
	<Competitions_ReportString>Начать соревнование</Competitions_ReportString>
	<NotEnoughtSkillForComp>В караване нет поселенцев с достаточным уровнем навыка</NotEnoughtSkillForComp>
	<Competitions_DayResultTitle>Результаты {0} дня
Лидерство держит {1} (фракция {2})\n</Competitions_DayResultTitle>
	<Competitions_DayResultTitle2>Результаты {0} дня</Competitions_DayResultTitle2>
	<Competitions_WinnerDesc>В соревновании по {0} победила фракция {1}, которую представлял {2}. Он победил, имея количество очков - {3}. 
	
Награда составила {4} серебра и полезный опыт к навыку.</Competitions_WinnerDesc>
	<Competitions_WinnerTitle>Результаты соревнований</Competitions_WinnerTitle>
	<Competitions_JustEndTitle>Соревнование окончено</Competitions_JustEndTitle>
	<Competitions_JustEndDesc>Соревнование по {0} окончено. Вы не приняли участие.</Competitions_JustEndDesc>
	<EnterToCompetitions>Участвовать</EnterToCompetitions>
	<Competitions_EnterToCompetitionsTitle>Соревнования начинаются!</Competitions_EnterToCompetitionsTitle>
	<Competitions_EnterToCompetitionsDesc>Соревнования начинаются!
	
Соревнование длиться 3 дня, каждый день вы будете получать статистику, где сможете отслеживать место вашего представителя в таблице счета</Competitions_EnterToCompetitionsDesc>
	<WorldObject_Competitions_ScorePlaceHolder>(очков)</WorldObject_Competitions_ScorePlaceHolder>
	<WorldObject_Competitions_YouPlaceHolder>ваш представитель</WorldObject_Competitions_YouPlaceHolder>
	<CommOption_CompetitionsPaid>Подкупить судей (600 серебра)</CommOption_CompetitionsPaid>
	<Competitions_AlreadyPaid>Вы уже подкупили судей</Competitions_AlreadyPaid>
	<Competitions_JudgPaidTitle>Судьи успешно подкуплены</Competitions_JudgPaidTitle>
	<Competitions_JudgPaidDesc>Вы успешно подкупили судей. Это даст вам дополнительно 7 очков.</Competitions_JudgPaidDesc>
	<Competitions_NeedToStartForPaid>Сначала нужно прийти на соревнования</Competitions_NeedToStartForPaid>
	<Competitions_JudgePaidFailTitle>Проверка судей </Competitions_JudgePaidFailTitle>
	<Competitions_JudgePaidFailDesc>В результате проверки судей выяснилось, что вы подкупали их. Это ухудшит отношения с фракциями-участниками.</Competitions_JudgePaidFailDesc>
	<Competitions_JudgePaidReason>подкупка судей</Competitions_JudgePaidReason>
	
	<MassBurialPlace_WhyAffect>разграбление могил</MassBurialPlace_WhyAffect>
	
	<Quest_PrisonShipAccident_PlaceLabel>Сбежавшие заключенные</Quest_PrisonShipAccident_PlaceLabel>
	<Quest_PrisonShipAccident_PlaceLabel2>Место передачи заключенных</Quest_PrisonShipAccident_PlaceLabel2>
	<TransferPrisoners>Передать заключенных</TransferPrisoners>
	<CaravanArrivalAction_TransferPrisoners_SuccessTitle>Заключенный передан</CaravanArrivalAction_TransferPrisoners_SuccessTitle>
	<CaravanArrivalAction_TransferPrisoners_SuccessDesc>Заключенный {0} успешно передан. {1} выплатила вам {2} (отправлено на вашу базу)</CaravanArrivalAction_TransferPrisoners_SuccessDesc>
	<Quest_PrisonShipAccident_NCTitle>Заключенные пропали</Quest_PrisonShipAccident_NCTitle>
	<Quest_PrisonShipAccident_NCDesc>Вы не захватили ни одного заключенного, они, скорее всего уже разбежались по всей планете.</Quest_PrisonShipAccident_NCDesc>
	
	<CaravanBattlePlacePlace_BattleStarted>Битва началась</CaravanBattlePlacePlace_BattleStarted>
	<CaravanBattlePlacePlace_BattleDescription>Ваш караван {0} вступил в схватку с {1}. Если вы уйдете с карты, то будете считаться проигравшими и часть ваших поселенцев может быть убита при попытке бегства. Победой будет считаться полное уничтожение сил противника.</CaravanBattlePlacePlace_BattleDescription>
	<CaravanBattlePlacePlace_Battle_WinnerAITitle>Вы проиграли</CaravanBattlePlacePlace_Battle_WinnerAITitle>
	<CaravanBattlePlacePlace_Battle_WinnerAIDesc>Противник выйграл в этом сражении.</CaravanBattlePlacePlace_Battle_WinnerAIDesc>
	<CaravanBattlePlacePlace_Battle_WinnerPlayerTitle>Вы победили</CaravanBattlePlacePlace_Battle_WinnerPlayerTitle>
	<CaravanBattlePlacePlace_Battle_WinnerPlayerDesc>Вы смогли одолеть противника и одержать победу в сражении!</CaravanBattlePlacePlace_Battle_WinnerPlayerDesc>
	<CaravanBattlePlacePlace_Deserting>{0} был убит при побеге с поля боя</CaravanBattlePlacePlace_Deserting>
	
</LanguageData>