<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <MEM_Settings_General>Настройка событий</MEM_Settings_General>
  <EventActive>Активен?</EventActive>
  
  <General_Title>Основные настройки</General_Title>
  <General_Desc>Основные настройки мода</General_Desc>
  <UseNewMapSizes_title>Активировать дополнительные размеры мира</UseNewMapSizes_title>
  <UseNewMapSizes>Активировать дополнительные размеры мира (требуется перезагрузка игры)</UseNewMapSizes>

  <MinParts_title>Минимум частей</MinParts_title>
  <MinParts>Минимум генерируемых частей разбросанных по карте</MinParts>
  <MaxParts_title>Максимум частей</MaxParts_title>
  <MaxParts>Максимум генерируемых частей разбросанных по карте</MaxParts>
  <ShipCargo_Mining_MinSupply_title>Минимум ящиков с ресурсами</ShipCargo_Mining_MinSupply_title>
  <ShipCargo_Mining_MinSupply>Минимум генерируемых ящиков с ресурсами</ShipCargo_Mining_MinSupply>
  <ShipCargo_Mining_MaxSupply_title>Максимум ящиков с ресурсами</ShipCargo_Mining_MaxSupply_title>
  <ShipCargo_Mining_MaxSupply>Максимум генерируемых ящиков с ресурсами</ShipCargo_Mining_MaxSupply>
  <ShipCargo_Food_MinSupply_title>Минимум ящиков с едой</ShipCargo_Food_MinSupply_title>
  <ShipCargo_Food_MinSupply>Минимум генерируемых частей, разбросанных по карте</ShipCargo_Food_MinSupply>
  <ShipCargo_Food_MaxSupply_title>Максимум ящиков с едой</ShipCargo_Food_MaxSupply_title>
  <ShipCargo_Food_MaxSupply>Максимум генерируемых частей, разбросанных по карте</ShipCargo_Food_MaxSupply>
  <ShipCargo_Complex_MinSupply_title>Минимум ящиков с общими ресурсами</ShipCargo_Complex_MinSupply_title>
  <ShipCargo_Complex_MinSupply>Минимум генерируемых частей, разбросанных по карте</ShipCargo_Complex_MinSupply>
  <ShipCargo_Complex_MaxSupply_title>Максимум ящиков с общими ресурсами</ShipCargo_Complex_MaxSupply_title>
  <ShipCargo_Complex_MaxSupply>Максимум генерируемых частей, разбросанных по карте</ShipCargo_Complex_MaxSupply>
  <ShipCargo_Armory_MinSupply_title>Минимум ящиков с оружием и одеждой</ShipCargo_Armory_MinSupply_title>
  <ShipCargo_Armory_MinSupply>Минимум генерируемых частей, разбросанных по карте</ShipCargo_Armory_MinSupply>
  <ShipCargo_Armory_MaxSupply_title>Максимум ящиков с оружием и одеждой</ShipCargo_Armory_MaxSupply_title>
  <ShipCargo_Armory_MaxSupply>Максимум генерируемых частей, разбросанных по карте</ShipCargo_Armory_MaxSupply>
  <ShipCargo_Living_MinSupply_title>Минимум ящиков с людьми</ShipCargo_Living_MinSupply_title>
  <ShipCargo_Living_MinSupply>Минимум генерируемых частей, разбросанных по карте</ShipCargo_Living_MinSupply>
  <ShipCargo_Living_MaxSupply_title>Максимум ящиков с людьми</ShipCargo_Living_MaxSupply_title>
  <ShipCargo_Living_MaxSupply>Максимум генерируемых частей, разбросанных по карте</ShipCargo_Living_MaxSupply>
 
  <EnablePositive_title>Активировать позитивные созвездия (1 - да, 0 - нет)</EnablePositive_title>
  <EnablePositive>Активировать позитивные созвездия (1 - да, 0 - нет)</EnablePositive>
  <EnableNegative_title>Активировать негативные созвездия (1 - да, 0 - нет)</EnableNegative_title>
  <EnableNegative>Активировать негативные созвездия (1 - да, 0 - нет)</EnableNegative>
  
  <RaidEnemyWithAnimals_Title>Рейд с животными</RaidEnemyWithAnimals_Title>
  <RaidEnemyWithAnimals_Desc>Рейд с животными</RaidEnemyWithAnimals_Desc>
  
  <DoMapChange_title>Изменять постепенно биомы на пустыню (1/0)</DoMapChange_title>
  <DoMapChange>Если активно (1), то каждые несколько дней случайные тайлы будут изменять свой биом на пустыню</DoMapChange>
  
  <Temperature_title>Температура</Temperature_title>
  <Temperature>Температура</Temperature>
  
</LanguageData>