<?xml version="1.0" encoding="utf-8"?>
<Defs>
	<XmlExtensions.SettingsMenuDef>
		<modId>hh.coinage.lite</modId>
		<label>Coinage</label>
		<defName>coinage</defName>
		<tKey>coinage_title</tKey>
		<settings>
			<!-- TITLE -->
			<li Class="XmlExtensions.Setting.MiddleColumn">
				<settings>
					<li Class="XmlExtensions.Setting.DrawImage">
						<texPath>UI/HeroArt/CoinageLogoSmall</texPath>
						<scale>0.8</scale>
						<anchor>Left</anchor>
					</li>
				</settings>
			</li>
			<!-- /TITLE  -->
			<!-- MAIN MENU  -->
			<li Class="XmlExtensions.Setting.Section">
				<settings>
					<li Class="XmlExtensions.Setting.Checkbox">
						<key>useFactionCurrency</key>
						<label>Replace Faction Currency with Gold Coins?</label>
						<defaultValue>false</defaultValue>
					</li>
					<li Class="XmlExtensions.Setting.Checkbox">
						<key>useStarterCurrency</key>
						<label>Replace Starting Currency with Gold Coins?</label>
						<defaultValue>false</defaultValue>
					</li>
				</settings>
			</li>
		</settings>
	</XmlExtensions.SettingsMenuDef>
</Defs>