<?xml version="1.0" encoding="utf-8" ?>
<Defs>
    <XmlExtensions.SettingsMenuDef>
        <defName>YYHats</defName>
        <modId>Yy.CapesandArmor</modId>
        <label> Layers: Capes and Armor</label>
        <settings>
            <li Class="XmlExtensions.Setting.SetColor">
                <color>(120,190,255)</color>
            </li>
            <li Class="XmlExtensions.Setting.Text">
                <text>All changes need a restart or Dev action:[Hot reload Defs] to apply!</text>
                <anchor>Middle</anchor>
            </li>
            <li Class="XmlExtensions.Setting.SetColor"/>
            <li Class="XmlExtensions.Setting.Checkbox">
                <key>HoodToggle</key>
                <label>Hoods</label>
                <defaultValue>true</defaultValue>
                <tooltip>Hoods over helmets</tooltip>
            </li>
            <li Class="XmlExtensions.Setting.Checkbox">
                <key>HatToggle</key>
                <label>Hats</label>
                <defaultValue>true</defaultValue>
                <tooltip>Hats over helmets, same as hoods</tooltip>
            </li>
            <li Class="XmlExtensions.Setting.Checkbox">
                <key>CoatToggle</key>
                <label>Dusters</label>
                <defaultValue>true</defaultValue>
                <tooltip>Dusters over armor, same as capes</tooltip>
            </li>
            <li Class="XmlExtensions.Setting.Checkbox">
                <key>SashToggle</key>
                <label>Sashes</label>
                <defaultValue>true</defaultValue>
                <tooltip>Bandolier and sash over armor, same as capes</tooltip>
            </li>
            <li Class="XmlExtensions.Setting.Checkbox">
                <key>GunlinkToggle</key>
                <label>Gunlink</label>
                <defaultValue>true</defaultValue>
                <tooltip>Gunlink over helmets, like hoods </tooltip>
            </li>

            <li Class="XmlExtensions.Setting.Checkbox">
                <key>LocustToggle</key>
                <label>Locust Cape</label>
                <defaultValue>true</defaultValue>
                <tooltip>Adds a special cape fitted for locust armor</tooltip>
            </li>
        </settings>
    </XmlExtensions.SettingsMenuDef>
</Defs>