<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <TerrenSecurity>Terren's Security</TerrenSecurity>  
  <BunkerHPLabel>Bunker HP</BunkerHPLabel>
  <AutoTurretHPLabel>Auto-Turret HP</AutoTurretHPLabel>
  <PlanetaryFortressHPLabel>Planetary Fortress HP</PlanetaryFortressHPLabel>
  <TipsLabel>Please do a bit damage to buildings after modified, epecially after increasing max HP.</TipsLabel>

</LanguageData>