<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <QualityColors.Colors.Label>改變顏色</QualityColors.Colors.Label>
  <QualityColors.Colors.Tooltip></QualityColors.Colors.Tooltip>
  <QualityColors.Change>編輯{0}的顏色</QualityColors.Change>
  <QualityColors.Presets>切換到預設</QualityColors.Presets>
  <QualityColors.Presets.Legacy>舊版，mod最初的版本</QualityColors.Presets.Legacy>
  <QualityColors.Presets.WoW>魔獸世界（英語）</QualityColors.Presets.WoW>
  <QualityColors.Presets.Default>默認</QualityColors.Presets.Default>
  <QualityColors.Presets.Colorblind>色盲模式（真的很抱歉，如果我搞砸了）</QualityColors.Presets.Colorblind>
  <QualityColors.Presets.FFXIV>最終幻想14（由Erin提供）</QualityColors.Presets.FFXIV>
  <QualityColors.Apply>應用</QualityColors.Apply>
  <QualityColors.Red>紅: </QualityColors.Red>
  <QualityColors.Blue>藍: </QualityColors.Blue>
  <QualityColors.Green>綠: </QualityColors.Green>
  <QualityColors.Preview>預覽： </QualityColors.Preview>
  <QualityColors.Changing>更改{0}</QualityColors.Changing>

</LanguageData>