<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <TraderWorker_RogerEdmonson_Title>Roger Edmonson</TraderWorker_RogerEdmonson_Title>
  <TraderWorker_RogerEdmonson_Desc>Настройки торговца Roger Edmonson</TraderWorker_RogerEdmonson_Desc>
  <marketValueMultiplierPerMapEvent_title>Добавленная стоимость за каждый рейд</marketValueMultiplierPerMapEvent_title>
  <marketValueMultiplierPerMapEvent>Сколько к стоимости товаров будет дополнительно добавлено за каждый рейд</marketValueMultiplierPerMapEvent>
  <startMarketValue_title>Начальная стоимость товаров торговца</startMarketValue_title>
  <startMarketValue>Начальная стоимость товаров торговца</startMarketValue>
  <specialGoodMarketValue_title>Стоимость товара дня</specialGoodMarketValue_title>
  <specialGoodMarketValue>Стоимость товара дня</specialGoodMarketValue>
  <onlineTime_title>Время онлайна торговца</onlineTime_title>
  <onlineTime>Сколько дней торговец будет в сети после того, как прибудет</onlineTime>
  <arrivaTime_title>Время оффлайна торговца</arrivaTime_title>
  <arrivaTime>Сколько дней торговец будет в оффлайне после того, как уйдет</arrivaTime>
  <minRaidsCountToGeneralGood_title>Минимальное кол-во рейдов для товара дня</minRaidsCountToGeneralGood_title>
  <minRaidsCountToGeneralGood>Сколько минимум рейдов должно случиться до прибытия торговца, чтобы был шанс для товара дня</minRaidsCountToGeneralGood>
  <generalGoodsChance_title>Шанс товара дня</generalGoodsChance_title>
  <generalGoodsChance>С каким шансов будет товар дня (только если прошло нужное кол-во рейдов)</generalGoodsChance>

  <TraderWorker_Eisenberg_Title>Eisenberg</TraderWorker_Eisenberg_Title>
  <TraderWorker_Eisenberg_Desc>Настройки торговца Eisenberg</TraderWorker_Eisenberg_Desc>
  <questEarlistDay_title>Сколько должно пройти времени для квеста</questEarlistDay_title>
  <questEarlistDay>Сколько времени (дней) должно пройти, чтобы вы могли получить квест на лабораторию</questEarlistDay>
  <basicDiscount_title>Множитель скидки за репутацию</basicDiscount_title>
  <basicDiscount>Множитель скидки, получаемый за единицу репутации.</basicDiscount>
  <minReputationToDiscount_title>Кол-во репутации для принудительного снижения цены</minReputationToDiscount_title>
  <minReputationToDiscount>Кол-во репутации для принудительного снижения цены (кнопка снизить цену)</minReputationToDiscount>
  <forceDiscount_title>Размер скидки при принудительном снижении</forceDiscount_title>
  <forceDiscount>Размер скидки при принудительном снижении. (множитель, на который будет умножена цена всех предметов)</forceDiscount>
  <reputationGainForBuy_title>Множитель для получения репутации с покупок</reputationGainForBuy_title>
  <reputationGainForBuy>Множитель, на которой будет умножена итоговая цена продукта, что в итоге даст размер репутации, которую вы получите</reputationGainForBuy>
  <maxDiscount_title>Максимальная допустимая скидка за репутацию</maxDiscount_title>
  <maxDiscount>Максимальная допустимая скидка за репутацию</maxDiscount>
  <minReputationToQuest_title>Минимальное количество репутации для квеста</minReputationToQuest_title>
  <minReputationToQuest>Минимальное количество репутации, которое требуется, чтобы получить квест на лабораторию</minReputationToQuest>
  <questChance_title>Шанс квеста</questChance_title>
  <questChance>Шанс выпадения квеста (выборка происходит каждый день)</questChance>
  
  <TraderWorker_JohnCarver_Title>John Carver</TraderWorker_JohnCarver_Title>
  <TraderWorker_JohnCarver_Desc>Настройки торговца John Carver</TraderWorker_JohnCarver_Desc>
  
  <TraderWorker_Archotech_567H_Title>Archotech 567H</TraderWorker_Archotech_567H_Title>
  <TraderWorker_Archotech_567H_Desc>Настройки торговца Archotech 567H</TraderWorker_Archotech_567H_Desc>
  
  <TraderWorker_Sly_Title>Sly</TraderWorker_Sly_Title>
  <TraderWorker_Sly_Desc>Настройки торговца Sly</TraderWorker_Sly_Desc>
  
  
</LanguageData>