<?xml version="1.0" encoding="utf-8"?>
<Patch>
	<!--
	<Operation Class="VFECore.PatchOperationToggableSequence">
		<enabled>False</enabled>
		<label>[Male Rabbie] 0% -> 25% Male</label>
		<operations>
			<li Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Rabbie"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>0.25</maleGenderProbability>
				</value>
			</li>
		</operations>
	</Operation>
	
	<Operation Class="VFECore.PatchOperationToggableSequence">
		<enabled>True</enabled>
		<label>[Male Rabbie] 0% -> 50% Male</label>
		<operations>
			<li Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Rabbie"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>0.5</maleGenderProbability>
				</value>
			</li>
		</operations>
	</Operation>
	
	<Operation Class="VFECore.PatchOperationToggableSequence">
		<enabled>False</enabled>
		<label>[Male Rabbie] 0% -> 75% Male</label>
		<operations>
			<li Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Rabbie"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>0.75</maleGenderProbability>
				</value>
			</li>
		</operations>
	</Operation>
	
	<Operation Class="VFECore.PatchOperationToggableSequence">
		<enabled>False</enabled>
		<label>[Male Rabbie] 0% -> 100% Male</label>
		<operations>
			<li Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Rabbie"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>1</maleGenderProbability>
				</value>
			</li>
		</operations>
	</Operation>
	-->
	
	<Operation Class="XmlExtensions.UseSetting">
		<modId>MaleRabbie</modId>
		<key>MaleRabbieProbSlider</key>
		<defaultValue>0.5</defaultValue>
		<apply>
			<Operation Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Rabbie"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>{MaleRabbieProbSlider}</maleGenderProbability>
				</value>
			</Operation>
		</apply>
	</Operation>
	
</Patch>