<?xml version="1.0" encoding="utf-8" ?>
<Defs>
	<XmlExtensions.SettingsMenuDef>
		<defName>VFME_Tofu_Menu</defName>
		<modId>vfme_simpletofu</modId>
		<label>VFME - Simple Tofu</label>
		<settings>
			<li Class="XmlExtensions.Setting.Text">
				<text>VFME - Simple Tofu!</text>
				<font>Medium</font>
				<anchor>Middle</anchor>
			</li>
			<li Class="XmlExtensions.Setting.GapLine" />
			<li Class="XmlExtensions.Setting.RadioButtons">
				<key>TofuToggle</key>
				<defaultValue>0</defaultValue>
				<buttons>
					<li>
						<label>Count tofu as a meat (default)</label>
						<tKey>vfme_simpletofu_tofumeat</tKey>
						<value>0</value>
					</li>
					<li>
						<label>Count tofu as a vegetable</label>
						<tKey>vfme_simpletofu_tofuveg</tKey>
						<value>1</value>
					</li>
					<li>
						<label>Count tofu as both</label>
						<tKey>vfme_simpletofu_tofuboth</tKey>
						<value>2</value>
					</li>
				</buttons>
			</li>
			<li Class="XmlExtensions.Setting.GapLine" />
			<li Class="XmlExtensions.Setting.ResetSettings">
				<label>Reset settings</label>
				<tKey>vfme_simpletofu_ResetSettings</tKey>
			</li>
			<li Class="XmlExtensions.Setting.GapLine" />
			<li Class="XmlExtensions.Setting.Text">
				<text>Restarting game is required to apply any changes.</text>
				<tKey>vfme_simpletofu_ResetToApplyReminder</tKey>
				<anchor>Middle</anchor>
			</li>
		</settings>
	</XmlExtensions.SettingsMenuDef>
</Defs>