<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  <SmartDeconstruct>Smarter Deconstruction</SmartDeconstruct>
  <SmartDeconstruct.Buildings.Label>Check for roofs while deconstructing buildings?</SmartDeconstruct.Buildings.Label>
  <SmartDeconstruct.Buildings.Tooltip>The base functionality of the mod, turn this and 'Check for roofs while mining' off to disable the mod.</SmartDeconstruct.Buildings.Tooltip>
  <SmartDeconstruct.CancelThick.Label>Cancel orders on thick roofs?</SmartDeconstruct.CancelThick.Label>
  <SmartDeconstruct.CancelThick.Tooltip>If true, orders that will cause a mountain roof to collapse will be cancelled, and a warning message shown. Not recommended to turn off. Ignored if 'Remove thick roofs' is true.</SmartDeconstruct.CancelThick.Tooltip>
  <SmartDeconstruct.Mining.Label>Check for roofs while mining?</SmartDeconstruct.Mining.Label>
  <SmartDeconstruct.Mining.Tooltip>Whether or not to extend the functionality to mining.</SmartDeconstruct.Mining.Tooltip>
  <SmartDeconstruct.Thick.Label>Remove thick roofs?</SmartDeconstruct.Thick.Label>
  <SmartDeconstruct.Thick.Tooltip>Can pawns remove thick roofs? Note: This will be true if a mod that allows this is installed, however it does not require one.</SmartDeconstruct.Thick.Tooltip>
  <SmartDeconstruct.ThickResearch.Label>Research for removing thick roofs</SmartDeconstruct.ThickResearch.Label>
  <SmartDeconstruct.ThickResearch.Tooltip>Research project to act as a prereq for removing thick roofs, will be automatically set if 'Extended Roofing' or 'Raise the Roof' are installed. Requires 'Remove Thick Roofs' to be true.</SmartDeconstruct.ThickResearch.Tooltip>
  <SmartDeconstruct.NonColonists.Label>Enable for non-colonists?</SmartDeconstruct.NonColonists.Label>
  <SmartDeconstruct.NonColonists.Tooltip>Allow pawns other than your colonists and animals to use run the checks?</SmartDeconstruct.NonColonists.Tooltip>
  <SmartDeconstruct.Animals.Label>Enable for animals?</SmartDeconstruct.Animals.Label>
  <SmartDeconstruct.Animals.Tooltip>Allow animals to run these checks? If false, animals will collapse roofs on themselves as in vanilla</SmartDeconstruct.Animals.Tooltip>
</LanguageData>