<?xml version='1.0' encoding='UTF-8'?>
<LanguageData>
  <COAA_denyDistantSupplyJobsSetting_title><![CDATA[Deny distant material supply jobs]]></COAA_denyDistantSupplyJobsSetting_title>
  <COAA_denyDistantSupplyJobsSetting_description><![CDATA[Won't supply directly from a resource if hauling it to storage would bring it closer to the given blueprint.
(Recommended with <color=grey><b><i>Mehni's</i> Pick Up And Haul</b></color> as only haul jobs utilize inventory.)]]></COAA_denyDistantSupplyJobsSetting_description>
  <COAA_restockIndicatorSetting_title><![CDATA[Settlement restock indicator]]></COAA_restockIndicatorSetting_title>
  <COAA_restockIndicatorSetting_description><![CDATA[Restock countdown for each settlement on world map (appears after trade).]]></COAA_restockIndicatorSetting_description>
  <COAA_defaultSearchIngredientRadiusSetting_title><![CDATA[Default ingredient search radius]]></COAA_defaultSearchIngredientRadiusSetting_title>
  <COAA_defaultSearchIngredientRadiusSetting_description><![CDATA[New bills will be created with this radius.]]></COAA_defaultSearchIngredientRadiusSetting_description>
  <COAA_pauseOnBeginAssaultSetting_title><![CDATA[Pause on "beginning their assault"]]></COAA_pauseOnBeginAssaultSetting_title>
  <COAA_pauseOnBeginAssaultSetting_description><![CDATA[When a staged attack actually commences, not just appears.]]></COAA_pauseOnBeginAssaultSetting_description>
  <COAA_scrollRestrictPawnsSetting_title><![CDATA[Shift+scroll cycle area restrictions]]></COAA_scrollRestrictPawnsSetting_title>
  <COAA_scrollRestrictPawnsSetting_description><![CDATA[Shift + scroll wheel on area restrictions will cycle them for all listed pawns (colonist or animal).
Also recommended: <color=grey><b><i>VouLT's</i> Better Pawn Control</b></color> for policies.]]></COAA_scrollRestrictPawnsSetting_description>
  <COAA_convenientButcherRecipesSetting_title><![CDATA[Convenient butcher recipes]]></COAA_convenientButcherRecipesSetting_title>
  <COAA_convenientButcherRecipesSetting_description><![CDATA[Conserve freezer space with a <= 75 meat yielding creature recipe.]]></COAA_convenientButcherRecipesSetting_description>
  <COAA_countableMeatRecipesSetting_title><![CDATA[Meat-counting butcher recipes]]></COAA_countableMeatRecipesSetting_title>
  <COAA_countableMeatRecipesSetting_description><![CDATA[Different recipes to count various combinations of animal, human, and insect.]]></COAA_countableMeatRecipesSetting_description>
  <COAA_separateCannibalMealsSetting_title><![CDATA[Separate cannibal meal recipes]]></COAA_separateCannibalMealsSetting_title>
  <COAA_separateCannibalMealsSetting_description><![CDATA[Separate cannibal meals to avoid ingredient mixing (meals vanish if mod is unloaded).]]></COAA_separateCannibalMealsSetting_description>
  <COAA_separateInsectMealsSetting_title><![CDATA[Separate insect meal recipes]]></COAA_separateInsectMealsSetting_title>
  <COAA_separateInsectMealsSetting_description><![CDATA[Separate insect meals to avoid ingredient mixing (meals vanish if mod is unloaded).]]></COAA_separateInsectMealsSetting_description>
  <COAA_betterPawnControl_BirthSetting_title><![CDATA[Patch <color=grey><b>Better Pawn Control</b></color> for newborns]]></COAA_betterPawnControl_BirthSetting_title>
  <COAA_betterPawnControl_BirthSetting_description><![CDATA[Hatched and birthed animals will inherit the entire restriction policy of their parent.]]></COAA_betterPawnControl_BirthSetting_description>
  <COAA_qualityBuilder_ForbiddenSetting_title><![CDATA[Patch <color=grey><b>Quality Builder</b></color> to preserve forbidden]]></COAA_qualityBuilder_ForbiddenSetting_title>
  <COAA_qualityBuilder_ForbiddenSetting_description><![CDATA[Patches a bug in <color=grey><b><i>Hatti</i>'s Quality Builder</b></color> where the quality designation overwrites forbidden on game load.]]></COAA_qualityBuilder_ForbiddenSetting_description>
</LanguageData>