<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <TraderWorker_RogerEdmonson_Title>Roger Edmonson</TraderWorker_RogerEdmonson_Title>
  <TraderWorker_RogerEdmonson_Desc>Merchant settings Roger Edmonson</TraderWorker_RogerEdmonson_Desc>
  <marketValueMultiplierPerMapEvent_title>Value Added for Each Raid</marketValueMultiplierPerMapEvent_title>
  <marketValueMultiplierPerMapEvent>How much will be added to the cost of goods for each raid</marketValueMultiplierPerMapEvent>
  <startMarketValue_title>Initial value of merchandise goods</startMarketValue_title>
  <startMarketValue>Initial value of goods</startMarketValue>
  <specialGoodMarketValue_title>Cost of goods of the day</specialGoodMarketValue_title>
  <specialGoodMarketValue>Cost of goods of the day</specialGoodMarketValue>
  <onlineTime_title>Online Merchant Time</onlineTime_title>
  <onlineTime>How many days will the merchant be online after arriving</onlineTime>
  <arrivaTime_title>Merchant offline time</arrivaTime_title>
  <arrivaTime>How many days will the merchant be offline after leaving</arrivaTime>
  <minRaidsCountToGeneralGood_title>Minimum raids for the item of the day</minRaidsCountToGeneralGood_title>
  <minRaidsCountToGeneralGood>How many minimum raids must happen before the merchant arrives so that there is a chance for the goods of the day</minRaidsCountToGeneralGood>
  <generalGoodsChance_title>Chance of the goods of the day</generalGoodsChance_title>
  <generalGoodsChance>With what chances will the goods of the day be (only if the required number of raids has passed)</generalGoodsChance>

  <TraderWorker_Eisenberg_Title>Eisenberg</TraderWorker_Eisenberg_Title>
  <TraderWorker_Eisenberg_Desc>Eisenberg Merchant Settings</TraderWorker_Eisenberg_Desc>
  <questEarlistDay_title>How much time should pass for the quest</questEarlistDay_title>
  <questEarlistDay>How much time (days) must pass so that you can get a quest for the laboratory</questEarlistDay>
  <basicDiscount_title>Reputation Discount Multiplier</basicDiscount_title>
  <basicDiscount>Reputation multiplier per reputation unit.</basicDiscount>
  <minReputationToDiscount_title>Amount of reputation for forced price reduction</minReputationToDiscount_title>
  <minReputationToDiscount>Number of reputation for forced price reduction (button to lower the price)</minReputationToDiscount>
  <forceDiscount_title>Discount amount for forced reduction</forceDiscount_title>
  <forceDiscount>The size of the discount for forced reduction. (multiplier by which the price of all items will be multiplied)</forceDiscount>
  <reputationGainForBuy_title>Shopping Reputation Multiplier</reputationGainForBuy_title>
  <reputationGainForBuy>The multiplier by which the total price of the product will be multiplied, which in the end will give the size of the reputation that you will receive</reputationGainForBuy>
  <maxDiscount_title>Maximum Reputation Discount Allowed</maxDiscount_title>
  <maxDiscount>Maximum Reputation Discount Allowed</maxDiscount>
  <minReputationToQuest_title>Minimum reputation for the quest</minReputationToQuest_title>
  <minReputationToQuest>The minimum amount of reputation required to get a quest to the laboratory</minReputationToQuest>
  <questChance_title>Quest Chance</questChance_title>
  <questChance>The chance of the quest falling (sampling occurs every day)</questChance>
  
  <TraderWorker_JohnCarver_Title>John Carver</TraderWorker_JohnCarver_Title>
  <TraderWorker_JohnCarver_Desc>Merchant settings John Carver</TraderWorker_JohnCarver_Desc>
  
  <TraderWorker_Archotech_567H_Title>Archotech 567H</TraderWorker_Archotech_567H_Title>
  <TraderWorker_Archotech_567H_Desc>Merchant settings Archotech 567H</TraderWorker_Archotech_567H_Desc>
  
  <TraderWorker_Sly_Title>Sly</TraderWorker_Sly_Title>
  <TraderWorker_Sly_Desc>Merchant settings Sly</TraderWorker_Sly_Desc>
  
  
</LanguageData>