<?xml version="1.0" encoding="utf-8"?>
<Defs>
    <XmlExtensions.SettingsMenuDef>
        <defName>ReadingBill_Settings</defName>
        <modId>cedaro.ReadingBill</modId>
        <label>Reading Bill</label>
        <settings>
            <li Class="XmlExtensions.Setting.Text">
                <text>Reading book work type</text>
                <font>Medium</font>
                <anchor>Middle</anchor>
            </li>
            <li Class="XmlExtensions.Setting.RadioButtons">
                <key>ReadingBill_WorkType</key>
                <defaultValue>BasicWorker</defaultValue>
                <buttons>
                    <li>
                        <label>Basic</label>
                        <value>BasicWorker</value>
                    </li>
                    <li>
                        <label>Research</label>
                        <value>Research</value>
                    </li>
                    <li>
                        <label>Writing</label>
                        <value>VBE_Writing</value>
                    </li>
                </buttons>
            </li>
            <li Class="XmlExtensions.Setting.ResetSettings">
                <confirm>false</confirm>
            </li>
        </settings>
    </XmlExtensions.SettingsMenuDef>
</Defs>