<?xml version='1.0' encoding='UTF-8'?>
<LanguageData>
  <CodeOptimist.AssortedAlterations_SettingTitle_restockIndicator><![CDATA[Settlement restock indicator]]></CodeOptimist.AssortedAlterations_SettingTitle_restockIndicator>
  <CodeOptimist.AssortedAlterations_SettingDesc_restockIndicator><![CDATA[Restock countdown for each settlement on world map (appears after trade).]]></CodeOptimist.AssortedAlterations_SettingDesc_restockIndicator>
  <CodeOptimist.AssortedAlterations_SettingTitle_globalDefaultIngredientSearchRadius><![CDATA[Global default ingredient search radius]]></CodeOptimist.AssortedAlterations_SettingTitle_globalDefaultIngredientSearchRadius>
  <CodeOptimist.AssortedAlterations_SettingDesc_globalDefaultIngredientSearchRadius><![CDATA[New maps will begin with this default.]]></CodeOptimist.AssortedAlterations_SettingDesc_globalDefaultIngredientSearchRadius>
  <CodeOptimist.AssortedAlterations_SettingTitle_mapDefaultIngredientSearchRadius><![CDATA[Cur. map default ingredient search radius]]></CodeOptimist.AssortedAlterations_SettingTitle_mapDefaultIngredientSearchRadius>
  <CodeOptimist.AssortedAlterations_SettingDesc_mapDefaultIngredientSearchRadius><![CDATA[Can also be set from a bill.]]></CodeOptimist.AssortedAlterations_SettingDesc_mapDefaultIngredientSearchRadius>
  <CodeOptimist.AssortedAlterations_SettingTitle_pauseOnBeginAssault><![CDATA[Pause on "beginning their assault"]]></CodeOptimist.AssortedAlterations_SettingTitle_pauseOnBeginAssault>
  <CodeOptimist.AssortedAlterations_SettingDesc_pauseOnBeginAssault><![CDATA[When a staged attack actually commences, not just appears.]]></CodeOptimist.AssortedAlterations_SettingDesc_pauseOnBeginAssault>
  <CodeOptimist.AssortedAlterations_SettingTitle_scrollRestrictPawns><![CDATA[Shift+scroll cycle area restrictions]]></CodeOptimist.AssortedAlterations_SettingTitle_scrollRestrictPawns>
  <CodeOptimist.AssortedAlterations_SettingDesc_scrollRestrictPawns><![CDATA[Shift + scroll wheel on area restrictions will cycle them for all listed pawns (colonist or animal).
Works with colonist and animal-specific areas from <color=grey><b><i>Alex TD's</i> Enhancement Pack</b></color>.
Also recommended: <color=grey><b><i>VouLT's</i> Better Pawn Control</b></color> for policies.]]></CodeOptimist.AssortedAlterations_SettingDesc_scrollRestrictPawns>
  <CodeOptimist.AssortedAlterations_SettingTitle_convenientButcherRecipes><![CDATA[Convenient butcher recipes]]></CodeOptimist.AssortedAlterations_SettingTitle_convenientButcherRecipes>
  <CodeOptimist.AssortedAlterations_SettingDesc_convenientButcherRecipes><![CDATA[Conserve freezer space with a <= 75 meat yielding creature recipe.]]></CodeOptimist.AssortedAlterations_SettingDesc_convenientButcherRecipes>
  <CodeOptimist.AssortedAlterations_SettingTitle_countableMeatRecipes><![CDATA[Meat-counting butcher recipes]]></CodeOptimist.AssortedAlterations_SettingTitle_countableMeatRecipes>
  <CodeOptimist.AssortedAlterations_SettingDesc_countableMeatRecipes><![CDATA[Different recipes to count various combinations of animal, human, and insect.]]></CodeOptimist.AssortedAlterations_SettingDesc_countableMeatRecipes>
  <CodeOptimist.AssortedAlterations_SettingTitle_cannibalMeals><![CDATA[Cannibal meal recipes]]></CodeOptimist.AssortedAlterations_SettingTitle_cannibalMeals>
  <CodeOptimist.AssortedAlterations_SettingDesc_cannibalMeals><![CDATA[Separate meals to avoid ingredient mixing (meals vanish if mod is unloaded).]]></CodeOptimist.AssortedAlterations_SettingDesc_cannibalMeals>
  <CodeOptimist.AssortedAlterations_SettingTitle_insectMeals><![CDATA[Insect meal recipes]]></CodeOptimist.AssortedAlterations_SettingTitle_insectMeals>
  <CodeOptimist.AssortedAlterations_SettingDesc_insectMeals><![CDATA[Separate meals to avoid ingredient mixing (meals vanish if mod is unloaded).]]></CodeOptimist.AssortedAlterations_SettingDesc_insectMeals>
  <CodeOptimist.AssortedAlterations_SettingTitle_betterPawnControl_Birth><![CDATA[Patch <color=grey><b>Better Pawn Control</b></color> for newborns]]></CodeOptimist.AssortedAlterations_SettingTitle_betterPawnControl_Birth>
  <CodeOptimist.AssortedAlterations_SettingDesc_betterPawnControl_Birth><![CDATA[Hatched and birthed animals will inherit the entire restriction policy of their parent.]]></CodeOptimist.AssortedAlterations_SettingDesc_betterPawnControl_Birth>
  <CodeOptimist.AssortedAlterations_SettingTitle_qualityBuilder_Forbidden><![CDATA[Patch <color=grey><b>Quality Builder</b></color> to preserve forbidden]]></CodeOptimist.AssortedAlterations_SettingTitle_qualityBuilder_Forbidden>
  <CodeOptimist.AssortedAlterations_SettingDesc_qualityBuilder_Forbidden><![CDATA[Patches a bug where quality designations overwrite forbidden on game load.]]></CodeOptimist.AssortedAlterations_SettingDesc_qualityBuilder_Forbidden>
  <CodeOptimist.AssortedAlterations_SettingTitle_bulkCannibalMeals><![CDATA[Bulk cannibal meal recipes]]></CodeOptimist.AssortedAlterations_SettingTitle_bulkCannibalMeals>
  <CodeOptimist.AssortedAlterations_SettingDesc_bulkCannibalMeals><![CDATA[Bulk (x4) recipe variants to complement vanilla's.]]></CodeOptimist.AssortedAlterations_SettingDesc_bulkCannibalMeals>
  <CodeOptimist.AssortedAlterations_SettingTitle_bulkInsectMeals><![CDATA[Bulk insect meal recipes]]></CodeOptimist.AssortedAlterations_SettingTitle_bulkInsectMeals>
  <CodeOptimist.AssortedAlterations_SettingDesc_bulkInsectMeals><![CDATA[Bulk (x4) recipe variants to complement vanilla's.]]></CodeOptimist.AssortedAlterations_SettingDesc_bulkInsectMeals>
  <CodeOptimist.AssortedAlterations_SettingTitle_hideHumanIngredient><![CDATA[Hide human meat from other recipes]]></CodeOptimist.AssortedAlterations_SettingTitle_hideHumanIngredient>
  <CodeOptimist.AssortedAlterations_SettingDesc_hideHumanIngredient><![CDATA[Hide ingredient from other recipes.
When toggled off from on, the ingredient is re-shown only where we've hidden it, but we can't detect if sometime between another mod wanted to keep it hidden.]]></CodeOptimist.AssortedAlterations_SettingDesc_hideHumanIngredient>
  <CodeOptimist.AssortedAlterations_SettingTitle_hideInsectIngredient><![CDATA[Hide insect meat from other recipes]]></CodeOptimist.AssortedAlterations_SettingTitle_hideInsectIngredient>
  <CodeOptimist.AssortedAlterations_SettingDesc_hideInsectIngredient><![CDATA[Hide ingredient from other recipes.
When toggled off from on, the ingredient is re-shown only where we've hidden it, but we can't detect if sometime between another mod wanted to keep it hidden.]]></CodeOptimist.AssortedAlterations_SettingDesc_hideInsectIngredient>
</LanguageData>
