<?xml version="1.0" encoding="utf-8"?>
<Defs>
  <XmlExtensions.SettingsMenuDef>
    <defName>FasterGeneComaRecovery</defName>
    <modId>FasterGeneComa.Recovery</modId>
    <label>Faster Gene Coma Recovery</label>

	
    <settings>
	 <li Class="XmlExtensions.Setting.Text">
	  <text>-Faster Gene Coma Recovery Setting Menu-</text>
	  <font>Medium</font>
	  <anchor>Middle</anchor>
	 </li>
	 <li Class="XmlExtensions.Setting.Text">
	  <text>Pick the speed of Gene coma disappearance.</text>
	  <font>Small</font>
	  <anchor>Left</anchor>
	 </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>Test</key>
        <label>In this current setting, Tended pawns at 100% will lose {Test} Severity per day.</label>
        <defaultValue>-0.5</defaultValue>
        <min>-5</min>
        <max>-0.01</max>
        <decimals>2</decimals>
      </li>
	  
	 <li Class="XmlExtensions.Setting.Text">
	  <text>Pawns will lose {Test} Severity per day, which means:


{Test} = Pawn Will fully heal in {Math1} Days at 100% Tending

{Test} = Pawn Will fully heal in {Math2} Days at 50% Tending

{Test} = Pawn Will fully heal in {Math3} Days at 25% Tending</text>
      <keys>
        <li>Test</li>
		<li>Math1</li>
		<li>Math2</li>
		<li>Math3</li> <!--  mom... im scared ):  -->
      </keys>
	  <font>Small</font>
	  <anchor>Left</anchor>
	</li>
	<li Class="XmlExtensions.Setting.SetColor">
	    <color>(255,255,0)</color>
	</li>
	<li Class="XmlExtensions.Setting.Text">
	  <text>Restart the game so changes can apply.</text>
	  <font>Medium</font>
	  <anchor>Middle</anchor>
	</li>
    </settings>
	<onFrameActions>
        <li Class="XmlExtensions.Action.SetSetting">
            <key>Math1</key>
            <value>-1</value>  	<!-- 100% Tending Math -->
            <value2>Test</value2>
            <isKey>false</isKey>
            <isKey2>true</isKey2>
            <operation>/</operation>
		</li>
		<li Class="XmlExtensions.Action.SetSetting">
            <key>Math2</key>    
            <value>-2</value>  <!-- 50% Tending Math -->
            <value2>Test</value2>
            <isKey>false</isKey>
            <isKey2>true</isKey2>
            <operation>/</operation>
		</li>
		<li Class="XmlExtensions.Action.SetSetting">
            <key>Math3</key>	
            <value>-4</value>  <!-- 25% Tending Math -->
            <value2>Test</value2>
            <isKey>false</isKey>
            <isKey2>true</isKey2>
            <operation>/</operation>
        </li> 
    </onFrameActions>
  </XmlExtensions.SettingsMenuDef>
</Defs>