<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
    <QualityColors.Colors.Label>Farben ändern</QualityColors.Colors.Label>
    <QualityColors.Colors.Tooltip></QualityColors.Colors.Tooltip>
    <QualityColors.Change>Farbe bearbeiten für {0}</QualityColors.Change>
    <QualityColors.Presets>Zur Voreinstellung wechseln</QualityColors.Presets>
    <QualityColors.Presets.Legacy>Legacy, was die Mod ursprünglich hatte</QualityColors.Presets.Legacy>
    <QualityColors.Presets.WoW>World of Warcraft (ish)</QualityColors.Presets.WoW>
    <QualityColors.Presets.Default>Standardwerte</QualityColors.Presets.Default>
    <QualityColors.Presets.Colorblind>Modus für Farbenblinde (Es tut mir wirklich leid, wenn ich es vermasselt habe)</QualityColors.Presets.Colorblind>
    <QualityColors.Presets.FFXIV>Final Fantasy 14 (Beigesteuert von Erin)</QualityColors.Presets.FFXIV>
    <QualityColors.Apply>Anwenden</QualityColors.Apply>
    <QualityColors.Red>Rot: </QualityColors.Red>
    <QualityColors.Blue>Blau: </QualityColors.Blue>
    <QualityColors.Green>Grün: </QualityColors.Green>
    <QualityColors.Preview>Vorschau: </QualityColors.Preview>
    <QualityColors.Changing>Ändern {0}</QualityColors.Changing>
    <QualityColors.FullLabel.Label>Gesamtes Etikett einfärben?</QualityColors.FullLabel.Label>
    <QualityColors.FullLabel.Tooltip>Die Farbe auf das gesamte Etikett legen, wenn man auf einen Gegenstand klickt?</QualityColors.FullLabel.Tooltip>
</LanguageData>