<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<!-- settings -->
	<name_on_birth_label>Birth</name_on_birth_label>
	<name_on_birth_note>Auto-name animals on birth</name_on_birth_note>
	<name_on_hatch_label>Hatch</name_on_hatch_label>
	<name_on_hatch_note>Auto-name animals on hatch</name_on_hatch_note>
	<name_on_tame_label>Tame</name_on_tame_label>
	<name_on_tame_note>Auto-name animals on tame</name_on_tame_note>
	<name_on_self_tame_label>Self-tame</name_on_self_tame_label>
	<name_on_self_tame_note>Auto-name animals on self-tame</name_on_self_tame_note>
	<name_on_wander_label>Wander</name_on_wander_label>
	<name_on_wander_note>Auto-name animals on wander incidents</name_on_wander_note>
</LanguageData>