<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <ER_ExpandedRoofing>Erweiterte Bedachung</ER_ExpandedRoofing>
  <ER_MaxOutputLabel>Maximale Leistung des Solarreglers</ER_MaxOutputLabel>
  <ER_WattagePerSolarPanelLabel>Leistungsaufnahme des Solarreglers pro Solarpanel</ER_WattagePerSolarPanelLabel>
  <ER_GlassLights>Glas gegen Stahl tauschen, wenn der Mod 'Glas+Lichter' installiert ist</ER_GlassLights>
  <ER_RoofMaintenance>Legt fest, ob Dachwartungsaufträge ausgeführt werden sollen</ER_RoofMaintenance>

</LanguageData>