<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <TerrenSecurity>泰伦防御</TerrenSecurity>  
  <BunkerHPLabel>地堡耐久度</BunkerHPLabel>
  <AutoTurretHPLabel>自动炮台耐久度</AutoTurretHPLabel>
  <PlanetaryFortressHPLabel>行星要塞耐久度</PlanetaryFortressHPLabel>
  <TipsLabel>提升建筑血量后，请对地建筑成一点点伤害以刷新修复工作。</TipsLabel>

</LanguageData>