<?xml version="1.0" encoding="utf-8" ?>
<Defs>

	<HediffDef ParentName="addedPartAdvanced">
		<defName>AdvancedBionicSpringhareTail</defName>
		<label>advanced bionic springhare tail</label>
		<description>The tail has been replaced by a nerve-connected prosthetic appendage that feels and functions mostly like a natural Springhare tail, though is noticeably artificial due to it's lightly decorated white bonewood china chassis. More flexible then a standard Springhare tail, it not only aids in balance for both walking and hopping but can also assist with limited manipulation for some basic tasks.</description>
		<descriptionHyperlinks><ThingDef>EPIA_AdvancedBionicTail</ThingDef></descriptionHyperlinks>
		<spawnThingOnRemoved>EPIA_AdvancedBionicTail</spawnThingOnRemoved>
		<addedPartProps>
		<solid>true</solid>
		<partEfficiency>1.2</partEfficiency>
		</addedPartProps>
		<stages>
			<li>
			  <capMods>
				<li>
				  <capacity>Manipulation</capacity>
				  <offset>0.25</offset>
				</li>
				 <li>
				   <capacity>Moving</capacity>
				   <offset>0.25</offset>
				</li>
			  </capMods>
			</li>
		</stages>
	</HediffDef>

    <RecipeDef ParentName="EPIASurgeryAdvancedBionic">
        <defName>InstallAdvancedBionicSpringhareTail</defName>
        <label>install advanced bionic springhare tail</label>
        <description>Installs an advanced bionic springhare tail.</description>
        <descriptionHyperlinks>
			<ThingDef>EPIA_AdvancedBionicTail</ThingDef>
			<HediffDef>AdvancedBionicSpringhareTail</HediffDef>
		</descriptionHyperlinks>
        <jobString>Installing advanced bionic springhare tail.</jobString>
        <ingredients>
        <li>
            <filter>
                <thingDefs>
                    <li>EPIA_AdvancedBionicTail</li>
                </thingDefs>
            </filter>
            <count>1</count>
        </li>
        </ingredients>
        <fixedIngredientFilter>
            <thingDefs>
                <li>EPIA_AdvancedBionicTail</li>
            </thingDefs>
        </fixedIngredientFilter>
        <appliedOnFixedBodyParts>
            <li>SpringhareTail</li>
        </appliedOnFixedBodyParts>
        <addsHediff>AdvancedBionicSpringhareTail</addsHediff>
    </RecipeDef>

</Defs>