<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<!-- 
		do not translate any :param_xxx
	-->
    <PBTweaks.debug_mode>Debug Mode</PBTweaks.debug_mode>
    <PBTweaks.debug_mode_desc>Print debug information to log file/console.</PBTweaks.debug_mode_desc>
	<PBTweaks.debug_mode_desc_0>Keeping Debug Mode on can affect performance, disable it when not needed.</PBTweaks.debug_mode_desc_0>
	
	<PBTweaks.add_bonding_toggle_gizmo>Add Bonding Control gizmo to Highmates</PBTweaks.add_bonding_toggle_gizmo>
	<PBTweaks.add_bonding_toggle_gizmo_desc>The gizmo will appear when selecting the Highmate.</PBTweaks.add_bonding_toggle_gizmo_desc>
	<PBTweaks.add_bonding_toggle_gizmo_desc_0>With this gizmo you can decide which Highmate is allowed to initiate automatic Bonding.</PBTweaks.add_bonding_toggle_gizmo_desc_0>
	<PBTweaks.add_bonding_toggle_gizmo_desc_1>When the gizmo is toggled ON the Highmate is free to Bond with whomever</PBTweaks.add_bonding_toggle_gizmo_desc_1>
	<PBTweaks.add_bonding_toggle_gizmo_desc_2>When the gizmo is toggled OFF the Highmate cannot Bond freely, you can choose who they Bond to by choosing the Highmate and right-clicking on another pawn, and selecting the 'Romance' option.</PBTweaks.add_bonding_toggle_gizmo_desc_2>
	
	<!-- noncolonist bonds options -->
	<PBTweaks.strangers_bonds_title>Strangers' Bonding Control</PBTweaks.strangers_bonds_title>
	<PBTweaks.strangers_bonds_title_desc>Thwart those creeps.</PBTweaks.strangers_bonds_title_desc>
	
	<PBTweaks.prevent_colonist_bonding_with_strangers>Prevent colonists from Bonding with strangers</PBTweaks.prevent_colonist_bonding_with_strangers>
	<PBTweaks.prevent_colonist_bonding_with_strangers_desc>No more frolicking with strangers, which leads to unintended Bondings.</PBTweaks.prevent_colonist_bonding_with_strangers_desc>
	
	<PBTweaks.prevent_strangers_bonding_with_strangers>Prevent strangers from Bonding with each other</PBTweaks.prevent_strangers_bonding_with_strangers>
	<PBTweaks.prevent_strangers_bonding_with_strangers_desc>Strangers will not frolick with each other.</PBTweaks.prevent_strangers_bonding_with_strangers_desc>
	
	<!-- psychic bond far options -->
	<PBTweaks.psychic_bond_far_title>Psychic Bond far distance options</PBTweaks.psychic_bond_far_title>
	<PBTweaks.psychic_bond_far_title_desc>This section controls various Psychic Bond distance checks, buffs, and debuffs.</PBTweaks.psychic_bond_far_title_desc>
	<PBTweaks.psychic_bond_far_title_desc_0>Far distance checks happen when the bonded pawns are on different maps.</PBTweaks.psychic_bond_far_title_desc_0>
	
	<PBTweaks.remove_psychic_distance>Remove Psychic Bond distance checks</PBTweaks.remove_psychic_distance>
	<PBTweaks.remove_psychic_distance_desc>If selected, bonded pawns no longer suffer any debuffs due to being on different maps.</PBTweaks.remove_psychic_distance_desc>
	
	<PBTweaks.distance_consciousness_bonus>Psychic Bond distance consciousness [:param_buff_debuff]</PBTweaks.distance_consciousness_bonus>
	<PBTweaks.distance_consciousness_bonus_desc>When bonded pawns are on different maps they suffer a debuff to their consciousness.</PBTweaks.distance_consciousness_bonus_desc>
	<PBTweaks.distance_consciousness_bonus_desc_0>Can be set between -100% and 100%.</PBTweaks.distance_consciousness_bonus_desc_0>
	<PBTweaks.distance_consciousness_bonus_desc_1>Positive numbers will buff consciousness.</PBTweaks.distance_consciousness_bonus_desc_1>
	<PBTweaks.distance_consciousness_bonus_desc_2>Negative numbers will debuff consciousness.</PBTweaks.distance_consciousness_bonus_desc_2>
	<PBTweaks.distance_consciousness_bonus_desc_3>Default -25% [Debuff].</PBTweaks.distance_consciousness_bonus_desc_3>
	
	<PBTweaks.distance_mood_bonus>Psychic Bond distance mood [:param_buff_debuff]</PBTweaks.distance_mood_bonus>
	<PBTweaks.distance_mood_bonus_desc>When bonded pawns are on different maps they suffer a debuff to their mood.</PBTweaks.distance_mood_bonus_desc>
	<PBTweaks.distance_mood_bonus_desc_0>Can be set between -100 and 100.</PBTweaks.distance_mood_bonus_desc_0>
	<PBTweaks.distance_mood_bonus_desc_1>Positive numbers will buff mood.</PBTweaks.distance_mood_bonus_desc_1>
	<PBTweaks.distance_mood_bonus_desc_2>Negative numbers will debuff mood.</PBTweaks.distance_mood_bonus_desc_2>
	<PBTweaks.distance_mood_bonus_desc_3>Default -10 [Debuff].</PBTweaks.distance_mood_bonus_desc_3>
	
	<!-- psychic bond near options -->
	<PBTweaks.psychic_bond_near_title>Psychic Bond close distance options</PBTweaks.psychic_bond_near_title>
	<PBTweaks.psychic_bond_near_title_desc>This section controls various Psychic Bond close distance checks and buffs.</PBTweaks.psychic_bond_near_title_desc>
	<PBTweaks.psychic_bond_near_title_desc_0>Close distance checks happen when bonded pawns are on the same map.</PBTweaks.psychic_bond_near_title_desc_0>
	
	<PBTweaks.consciousness_bonus>Psychic Bond consciousness [Buff]</PBTweaks.consciousness_bonus>
	<PBTweaks.consciousness_bonus_desc>When bonded pawns are on the same map their consciousness gets buffed.</PBTweaks.consciousness_bonus_desc>	
	<PBTweaks.consciousness_bonus_desc_0>Can be set between 0 and 100.</PBTweaks.consciousness_bonus_desc_0>
	<PBTweaks.consciousness_bonus_desc_1>Default 15% [Buff].</PBTweaks.consciousness_bonus_desc_1>
	
	<PBTweaks.mood_bonus>Psychic Bond mood [Buff]</PBTweaks.mood_bonus>
	<PBTweaks.mood_bonus_desc>When bonded pawns are on the same map their mood gets buffed.</PBTweaks.mood_bonus_desc>
	<PBTweaks.mood_bonus_desc_0>Can be set between 0 and 100.</PBTweaks.mood_bonus_desc_0>
	<PBTweaks.mood_bonus_desc_1>Default 12 [Buff].</PBTweaks.mood_bonus_desc_1>
	
	<!-- psychic bond torn options -->
	<PBTweaks.psychic_bond_torn_title>Psychic Bond Torn options</PBTweaks.psychic_bond_torn_title>
	<PBTweaks.psychic_bond_torn_title_desc>This section controls various Psychic Bond Torn options.</PBTweaks.psychic_bond_torn_title_desc>
	<PBTweaks.psychic_bond_torn_title_desc_0>The Bond Torn effects apply when the bonded pawns lose their connection (i.e. when death occurs).</PBTweaks.psychic_bond_torn_title_desc_0>
	
	<PBTweaks.bond_torn_mood_effect>Bond Torn mood [:param_buff_debuff]</PBTweaks.bond_torn_mood_effect>
	<PBTweaks.bond_torn_mood_effect_desc>When the Bond is Torn the pawn will suffer decreased mood for 30 days.</PBTweaks.bond_torn_mood_effect_desc>
	<PBTweaks.bond_torn_mood_effect_desc_0>Can be set between -100 and 100.</PBTweaks.bond_torn_mood_effect_desc_0>
	<PBTweaks.bond_torn_mood_effect_desc_1>Positive numbers will buff mood.</PBTweaks.bond_torn_mood_effect_desc_1>
	<PBTweaks.bond_torn_mood_effect_desc_2>Negative numbers will debuff mood.</PBTweaks.bond_torn_mood_effect_desc_2>
	<PBTweaks.bond_torn_mood_effect_desc_3>Default -25 [Debuff].</PBTweaks.bond_torn_mood_effect_desc_3>
	
	<!-- Tear Bond! options -->
	<PBTweaks.tear_bond_title>[Tear Bond!] options</PBTweaks.tear_bond_title>
	<PBTweaks.tear_bond_title_desc>Yes, now you can officially Tear those Bonds!</PBTweaks.tear_bond_title_desc>
	<PBTweaks.tear_bond_title_desc_0>Tearing the Bond will cause the bonded pawn to forget their romantic relationship with the Highmate.</PBTweaks.tear_bond_title_desc_0>
	
	<PBTweaks.add_tear_bond_gizmo>Add [Tear Bond!] Gizmo to bonded Highmates</PBTweaks.add_tear_bond_gizmo>
	<PBTweaks.add_tear_bond_gizmo_desc>The gizmo will appear when selecting the Highmate.</PBTweaks.add_tear_bond_gizmo_desc>	
	
	<PBTweaks.add_tear_bond_context_menu>Add [Tear Bond!] to context menu options</PBTweaks.add_tear_bond_context_menu>
	<PBTweaks.add_tear_bond_context_menu_desc>The option will appear when selecting the Highmate and right-clicking on them.</PBTweaks.add_tear_bond_context_menu_desc>
	
	<PBTweaks.disable_tear_bond_consequences>Disable [Tear Bond!] consequences</PBTweaks.disable_tear_bond_consequences>
	<PBTweaks.disable_tear_bond_consequences_desc>By enabling this option, there will be no consequences for manually tearing the Bond.</PBTweaks.disable_tear_bond_consequences_desc>	
	
	<PBTweaks.tear_bond_consequences_minimum_mental_break_chance>Minimum Mental Break chance</PBTweaks.tear_bond_consequences_minimum_mental_break_chance>
	<PBTweaks.tear_bond_consequences_minimum_mental_break_chance_desc>While tearing the Bond manually, there is a chance that the Highmate will enter into a Mental Break state.</PBTweaks.tear_bond_consequences_minimum_mental_break_chance_desc>
	<PBTweaks.tear_bond_consequences_minimum_mental_break_chance_desc_0>Default 33%.</PBTweaks.tear_bond_consequences_minimum_mental_break_chance_desc_0>
	
	<PBTweaks.tear_bond_days_for_consequences>Days Bonded duration consequences</PBTweaks.tear_bond_days_for_consequences>
	<PBTweaks.tear_bond_days_for_consequences_desc>Based on the duration of the Bond, the Highmate will suffer varying degrees of consequences and debuffs.</PBTweaks.tear_bond_days_for_consequences_desc>
	<PBTweaks.tear_bond_days_for_consequences_desc_0>:param_tear_consequences_example</PBTweaks.tear_bond_days_for_consequences_desc_0>
	
	<PBTweaks.tear_bond_days_for_consequences_example></PBTweaks.tear_bond_days_for_consequences_example>
	<PBTweaks.tear_bond_days_for_consequences_example_0>Consequences for tearing the Bond after [:param_days_duration] :param_bond_day_days and [:params_bond_hours_duration] :param_bond_hour_hours:</PBTweaks.tear_bond_days_for_consequences_example_0>
	<PBTweaks.tear_bond_days_for_consequences_example_1>Mental Break chance: :param_mental_break_chance</PBTweaks.tear_bond_days_for_consequences_example_1>
	<PBTweaks.tear_bond_days_for_consequences_example_2>Mood offset: :param_mood_offset for :param_mood_offset_duration :param_mood_day_days</PBTweaks.tear_bond_days_for_consequences_example_2>
	
	
</LanguageData>