<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <XFMParmor_Settings_SettingsCategory>XVI-mechframe</XFMParmor_Settings_SettingsCategory>
  
  <XFMParmor_Settings_getOutAfterDraftedA>Exit mechframe when undrafted</XFMParmor_Settings_getOutAfterDraftedA>
  <XFMParmor_Settings_getOutAfterDraftedB>Whether the pilot should go to the nearest fabrication bay and leave mechframe when undrafted.</XFMParmor_Settings_getOutAfterDraftedB>

  <XFMParmor_Settings_forceDraftedA>Lock drafted status</XFMParmor_Settings_forceDraftedA>
  <XFMParmor_Settings_forceDraftedB>Whether the pilot should nolonger automatically undraft when idle for too long.</XFMParmor_Settings_forceDraftedB>

  <XFMParmor_Settings_putWeaponIntoInventoryA>Put weapon into inventory</XFMParmor_Settings_putWeaponIntoInventoryA>
  <XFMParmor_Settings_putWeaponIntoInventoryB>Whether the pilot should put their weapons into their inventory when entering mechframes instead of leaving them on the ground.</XFMParmor_Settings_putWeaponIntoInventoryB>

  <XFMParmor_Settings_forceFriendlyFireA>Do friendly fire</XFMParmor_Settings_forceFriendlyFireA>
  <XFMParmor_Settings_forceFriendlyFireB>Whether certain mechanisms and attacks should deall friendly damage except for casters themselves. This option is off by default.</XFMParmor_Settings_forceFriendlyFireB>
</LanguageData>