<?xml version="1.0" encoding="utf-8" ?>

<Defs>
	
	<Cosmos.Defs.EventDef Name="Cosmos_EventBase" Abstract="True">
		<names>
			<li>Ambassador</li>
			<li>Continental</li>
			<li>Blackbird</li>
			<li>Wasp</li>
			<li>Stringer</li>
			<li>Stork</li>
			<li>Hummingbird</li>
			<li>Cyclone</li>
			<li>Sparky</li>
			<li>Arabella</li>
			<li>Duncan</li>
			<li>Jellyfish</li>
			<li>Pilgrim</li>
			<li>Cicada</li>
			<li>Aurora</li>
			<li>Allanton</li>
			<li>Triad</li>
			<li>Diamond</li>
			<li>Emerald</li>
			<li>Minstrel</li>
			<li>Explorer</li>
			<li>Argonaut</li>
			<li>Achilles</li>
			<li>Ruff</li>
			<li>Lark</li>
			<li>Pearl</li>
			<li>Odyssey</li>
			<li>Perseus</li>
			<li>Light</li>
			<li>Glow</li>
			<li>Orpheus</li>
			<li>Hercules</li>
			<li>Jason</li>
			<li>Herodotus</li>
			<li>Democritus</li>
			<li>Pythagoras</li>
			<li>Prometheus</li>
			<li>Retribution</li>
			<li>Tsar</li>
			<li>Redemption</li>
			<li>Mercy</li>
			<li>Titanium</li>
			<li>Colossus</li>
			<li>Salvation</li>
			<li>Infinity</li>
			<li>Serenity</li>
			<li>Asylum</li>
			<li>Obsidian</li>
			<li>Flare</li>
			<li>Fervor</li>
			<li>Holiness</li>
			<li>Crusader</li>
			<li>Atlantropa</li>
			<li>Emperor</li>
			<li>Bastard</li>
			<li>Knight</li>
			<li>Squire</li>
			<li>Vexillary</li>
			<li>Sacrifice</li>
			<li>Immortal</li>
			<li>Honour</li>
			<li>Tempest</li>
			<li>Victoria</li>
			<li>Apolonogines</li>
			<li>Avguston</li>
			<li>Imperium</li>
			<li>Cornet</li>
			<li>Mantis</li>
			<li>Synergy</li>
			<li>Vintolis</li>
			<li>Oblivion</li>
			<li>Leviathan</li>
			<li>Kinion</li>
			<li>Phoenix</li>
			<li>Jeshonian</li>
			<li>Kinetic</li>
			<li>Ignis</li>
			<li>Ira</li>
			<li>Princeps</li>
			<li>Aeternum</li>
			<li>Salvator</li>
			<li>Exitium</li>
			<li>Player</li>
			<li>Insanire</li>
			<li>Temple</li>
			<li>Dux</li>
			<li>Glacies</li>
			<li>Ordo</li>
			<li>Ardor</li>
			<li>Rebel</li>
			<li>Sacrament</li>
			<li>Nightside</li>
			<li>Venom</li>
			<li>Cross</li>
			<li>Midnight</li>
			<li>Madonna</li>
			<li>Dominus</li>
			<li>Sаnctus</li>
			<li>Nightmare</li>
			<li>Phantom</li>
			<li>Tiger</li>
			<li>Angel</li>
			<li>Hussar</li>
			<li>Union</li>
			<li>Solution</li>
			<li>Raptor</li>
			<li>Grail</li>
			<li>Singularity</li>
			<li>Warrior</li>
			<li>Berserk</li>
			<li>Enterprise</li>
			<li>Fallen</li>
			<li>Wolf</li>
			<li>Communist</li>
			<li>Parabellum</li>
			<li>Paragon</li>
			<li>Aster</li>
			<li>Radiance</li>
			<li>Captain</li>
			<li>Strength</li>
			<li>Revanchist</li>
			<li>Triumvirate</li>
			<li>Crimson</li>
			<li>Guardian</li>
			<li>Horizon</li>
			<li>Galaxy</li>
			<li>Andromeda</li>
			<li>Aquarius</li>
			<li>Bootes</li>
			<li>Raven</li>
			<li>Hydra</li>
			<li>Dragon</li>
			<li>Ophiuchus</li>
			<li>Whale</li>
			<li>Octant</li>
			<li>Oríon</li>
			<li>Cepheus</li>
			<li>Eridanus</li>
			<li>Demon</li>
			<li>Gaster</li>
			<li>Sky</li>
			<li>Archangel</li>
		</names>
	</Cosmos.Defs.EventDef>
	
	<Cosmos.Defs.EventDef ParentName="Cosmos_EventBase">
		<defName>Cosmos_MerchantSpaceship</defName>
		<label>Spaceship</label>
		<description>A relatively small merchant ship plying nearby space for bargaining power at bargain prices.</description>
		<startDescription>The spaceship enters your orbit</startDescription>
		<endDescription>The spaceship leaves your orbit.</endDescription>
		<eventClass>Cosmos.Defs.Event_Spaceship</eventClass>
		<type>MerchantShip</type>
		<duration>30000~45000</duration>
		<categories>
			<li>Cosmos.Category.ResourceSimple</li>
			<li>Cosmos.Category.ResourceAdvanced</li>
			<li>Cosmos.Category.Textile</li>
			<li>Cosmos.Category.Drugs</li>
			<li>Cosmos.Category.FoodRaw</li>
			<li>Cosmos.Category.Food</li>
			<li>Cosmos.Category.Artifacts</li>
		</categories>
		<chanceNullFaction>0.25</chanceNullFaction>
		<marketPercent>1.0~1.35</marketPercent>
		<chanceMilitaryHelp>0.5</chanceMilitaryHelp>
		<entityDef>Cosmos_Spaceship</entityDef>
	</Cosmos.Defs.EventDef>
	
	<Cosmos.Defs.EventDef ParentName="Cosmos_EventBase">
		<defName>Cosmos_WarSpaceship</defName>
		<label>Warship</label>
		<description>A military spaceship capable of carrying heavy weapons.</description>
		<startDescription>The warship enters your orbit</startDescription>
		<endDescription>The warship leaves your orbit.</endDescription>
		<eventClass>Cosmos.Defs.Event_WarShip</eventClass>
		<type>WarShip</type>
		<duration>30000~45000</duration>
		<categories>
			<li>Cosmos.Category.Drugs</li>
			<li>Cosmos.Category.Weapons</li>
			<li>Cosmos.Category.Shells</li>
			<li>Cosmos.Category.Artifacts</li>
		</categories>
		<chanceNullFaction>0.0</chanceNullFaction>
		<marketPercent>1.1~1.45</marketPercent>
		<chanceMilitaryHelp>1.0</chanceMilitaryHelp>
		<chanceMissile>1.0</chanceMissile>
		<missileTick>25000~40000</missileTick>
		<entityDef>Cosmos_WarSpaceship</entityDef>
	</Cosmos.Defs.EventDef>
	
	<Cosmos.Defs.EventDef>
		<defName>Cosmos_PsySatellite</defName>
		<label>Psy-satellite</label>
		<description>A military satellite capable of emitting harmful psy waves.</description>
		<startDescription>The psy-satellite enters your orbit</startDescription>
		<endDescription>The psy-satellite leaves your orbit.</endDescription>
		<eventClass>Cosmos.Defs.Event_PsySatellite</eventClass>
		<type>PsySatellite</type>
		<duration>40000~60000</duration>
		<chanceNullFaction>0.0</chanceNullFaction>
		<missileTick>30000~35000</missileTick>
		<entityDef>Cosmos_PsySatellite</entityDef>
	</Cosmos.Defs.EventDef>

</Defs>