<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  <DormitoriesSettingsCategoryLabel>Dormitories</DormitoriesSettingsCategoryLabel>
  <SettingsLabelTip>Value can't be lower than 2</SettingsLabelTip>
  <SettingsMaximumBedsLabel>Maximum beds to be considered a Dormitory</SettingsMaximumBedsLabel>
  <SettingsResetButton>Reset to Defaults</SettingsResetButton>
</LanguageData>
