<?xml version="1.0" encoding="utf-8" ?>
<Defs>

	<ThingDef ParentName="BaseFilth">
		<defName>Metro_Web</defName>
		<label>web</label>
		<thingClass>Metro.Filth_Web</thingClass>
		<tickerType>Normal</tickerType>
		<graphicData>
			<texPath>Things/Filth/Web</texPath>
			<drawSize>2</drawSize>
			<graphicClass>Graphic_Cluster</graphicClass>
		</graphicData>
		<filth>
			<placementMask>
				<li>Terrain</li>
			</placementMask>
			<cleaningWorkToReduceThickness>35</cleaningWorkToReduceThickness>
			<canFilthAttach>true</canFilthAttach>
		</filth>
	</ThingDef>

</Defs>
