<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <TerrenSecurity>泰倫防禦</TerrenSecurity>  
  <BunkerHPLabel>地堡耐久度</BunkerHPLabel>
  <AutoTurretHPLabel>自動炮台耐久度</AutoTurretHPLabel>
  <PlanetaryFortressHPLabel>行星要塞耐久度</PlanetaryFortressHPLabel>
  <TipsLabel>提升建築血量後，請對地建築成一點點傷害以刷新修復工作。</TipsLabel>

</LanguageData>