<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
 
  <MechanoidTeleport_Generator.label>Генератор портала</MechanoidTeleport_Generator.label>
  <MechanoidTeleport_Generator.description>Похоже, внутри находится нечто, что генерирует достаточно энергии для поддержания телепорта.</MechanoidTeleport_Generator.description>
  
  <MechanoidTeleport.label>Телепорт механоидов</MechanoidTeleport.label>
  <MechanoidTeleport.description>Дыра в пространстве. Позволяет механоидам на той стороне беспрепятственно перемещаться сюда.</MechanoidTeleport.description>
  
  <HiveCrack.label>Трешина улья</HiveCrack.label>
  <HiveCrack.description>Тоннель, ведущий к подземному улью пещерных жуков, через который они попадают наружу.</HiveCrack.description>

  <OpenableContainer.label>Кусок корабля</OpenableContainer.label>
  <OpenableContainer.description>Контейнер, содержащий ресурсы.</OpenableContainer.description>
  
  <ClimatBomb.label>Климатическая бомба</ClimatBomb.label>
  <ClimatBomb.description>Массивное устройство с неизвестным артефактом в центре. Генерирует большое количество энергии, выбрасывая часть в воздух. Из-за этого погода в этом регионе невероятно нестабильна.</ClimatBomb.description>
  
</LanguageData>